[2014-01-20 11:30] pat opened #1 "Presentations Meet - 29th January 2014"
Speakers: referencing you all here so you can confirm yourselves if you wish :)

Early this week (21st/22nd Jan):
- [x] Confirm food - perhaps a mixture of tacos and pizzas, to cater for all dietary options? Or [Miss Chu](http://www.misschu.com.au/Catering/Canapes) could be another option (here's [a sample order](https://www.evernote.com/shard/s364/sh/7a4460f4-9f9a-49b0-a85c-0e30c1c87b99/01f875dcf

[2014-02-25 10:44] pat opened #2 "Presentations Meet - 27th February 2014"
Speakers: referencing you all here so you can confirm yourselves if you wish :)
- [x] Confirm speaker: Charlie Somerville (@charliesome)
- [x] Confirm speaker: Matt Allen (@mattallen)
- [x] Confirm speaker: Keith Pitt (@keithpitt)
- [x] Confirm speaker and topic: Brent Snook (@brentsnook)
- [x] 'Announce' event [on Meetup](http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/events/165480642/)
-

[2014-03-02 05:13] pat opened #3 "Presentations Meet - 27th March 2014"
Speakers: @andrewgr, @duncan-bayne, @mattdelves (can you all please provide an estimate for how long your talks will be? Wondering if we'll go with three or four speakers).

Hosting: @mariovisic

This week:
- [x] Confirm CareMonkey as additional sponsor (@pat).
- [x] Confirm how Ruby Australia will manage sponsorship funds, ordering with @mattallen.

Week before:
- [x] 'Announce' event on Meetup
-

[2014-04-01 12:13] mariovisic opened #4 "Presentations Meet - 24th April 2014"
Speakers: @duncan-bayne @notahat @Rhiana and @stevegilles  (can I just get a confirmation that you're still good to speak, I also need a talk length for Duncan and Pete).

Hosting: @pat

This week:
- [x] Twiddle thumbs

Week before:
- [x] 'Announce' event on Meetup
- [x] Email [rails-oceania](mailto:rails-oceania@googlegroups.com) list announcing the event

Two days before:
- [x] Order delivery of

[2014-05-16 02:38] pat opened #5 "Presentations Meet - 28th May 2014"
Speakers: @duncan-bayne, @shevaun, @halcyonCorsair, Pep (whose GitHub handle I've not yet found).

Hosting: probably @pat, since I'll miss the next two (unless @mariovisic is particularly keen to host three in a row?)

As you maybe have noticed, our events are now Wednesday, not Thursday, starting this month. If this doesn't suit, I really am sorry - it was not a decision made lightly. If you can'

[2014-06-09 07:12] mariovisic opened #6 "Presentations Meet - 25th June 2014"
Speakers: @sutto @vertis and @JaredShay

Hosting: @mariovisic

Please remember that we've now moved to the last wednesday night of the month (instead of thursday). Please let me know if that's an issue for any of yourselves.

Also: @sutto I just need a talk title from you, the others are good :)

Week before:
- [x] 'Announce' [event](http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/events/170

[2014-06-22 22:49] #1 closed, assigned to nobody

[2014-06-22 22:49] #2 closed, assigned to nobody

[2014-06-22 22:49] #3 closed, assigned to nobody

[2014-06-22 22:49] #4 closed, assigned to nobody

[2014-06-22 22:49] #5 closed, assigned to nobody

[2014-07-08 09:43] #6 closed, assigned to nobody

[2014-07-08 09:46] mariovisic opened #7 "Presentations Meet - 30th July 2014"
Speakers: @joho @duncan-bayne and @TimMoore . Can I please get a confirmation that you're OK to speak on the date.

Hosting: @mariovisic (@pat is still overseas).

Please remember that it's the wednesday night, not thursday like previously.

Week before:
- [x] 'Announce' [event](http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/events/175705562/) on Meetup
- [x] Email [rails-oceania](https://g

[2014-08-19 05:21] pat opened #8 "Presentations Meet - 27th August 2014"
Speakers: @joho @JaredShay and @DanielHeath. Can I please get a confirmation that you're OK to speak on the date?

Hosting: @pat

Please remember that it's the Wednesday night, not Thursday like in months gone.

Week before:
- [x] 'Announce' [event](http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/events/188820562/) on Meetup
- [x] Email [rails-oceania](https://groups.google.com/forum/#!topic

[2014-09-23 21:56] mariovisic opened #9 "Presentation Meet - 24 September 2014"
Speakers: @denglish @plasticine and @madlep. Apologies for the late notice; Can I please get a confirmation that you're OK to speak tonight?

Hosting: @mariovisic

Please remember that it's the Wednesday night, not Thursday like in months gone.

TODO:
- [x] Announce' event on Meetup
- [x] Email rails-oceania list announcing the event
- [ ] Confirm alcohol order with Inspire9 Events. (awaiting emai

[2014-09-23 22:11] #7 closed, assigned to nobody

[2014-09-23 22:11] #8 closed, assigned to nobody

[2014-10-13 03:11] mariovisic opened #10 "Ruby newbies presentation Meet - 30th October 2014"
Confirmed Speakers: @quamen, @sutto, @npostolovski, @Rhiana, @JaredShay and @joneslee85

Ideally we'd like a few more presenters as 6x5 minutes is only 30 minutes of presentations. Let me know if you know anyone else that would like to present.

Hosting: @pat

TODO:
- [x] Announce' event on Meetup
- [x] Email rails-oceania list announcing the event
- [x] Confirm alcohol order with Inspire9 Events.

[2014-10-14 03:48] #9 closed, assigned to nobody

[2014-11-20 10:56] pat opened #11 "Presentations Meet - 26th November 2014"
Speakers: @mrdougal, @duncan-bayne, and @ivanvanderbyl (are you all still good for Wednesday next week?)

Hosting: @mariovisic with @pat around for moral support

TODO:
- [x] Announce' event on Meetup
- [x] Email rails-oceania list announcing the event
- [x] Confirm alcohol order with Inspire9 Events (will talk to Megan)
- [x] Order soft drinks
- [x] Order food from Miss Chu

[2014-11-25 05:33] #10 closed, assigned to nobody

[2014-12-09 03:27] quamen opened #12 "January talk needed?"
I know there was a call out for talks in Jan, and I said I would talk, just give me a topic... I was only half joking :smile:

Anyway I have a talk topic of my own now, so if you still need a speaker, put me down. Otherwise I'll talk in Feb or something.

[2015-01-21 12:42] pat opened #13 "Presentations Meet - 28th January 2015"
Confirm Speakers:

- [x] @sporto: Using Webpack with Rails
- [x] Katsuyoshi Yabe (Contacted via Meetup; awaiting reply)
- [x] Mel Sherrin: Can I start that new business? And what does your employment contract (or shareholder agreement) actually say.

Hosting: @mariovisic with @pat around for moral support

TODO:
- [x] Announce' event on Meetup
- [ ] Email rails-oceania list announcing the event
-

[2015-01-21 23:24] sporto commented on #13
Hi Pat and Mario
I'm still happy to do this.

Cheers
Sebastian

[2015-01-22 09:31] pat commented on #13
Thanks Sebastian :)

[2015-01-22 09:34] pat commented on #13
Oh, and did you have a topic in mind?

[2015-01-23 02:06] sporto commented on #13
Yes, I will do a talk about using Webpack with Rails

--
Sent with Postbox <http://www.getpostbox.com>

[2015-01-23 02:19] pat commented on #13
Great, thanks :)

[2015-01-23 04:41] kay1759 commented on #13
Dear Pat an Mario, I will do my best

[2015-01-23 04:43] pat commented on #13
Excellent, thank you :)

[2015-02-22 01:46] #11 closed

[2015-02-22 01:46] #13 closed

[2015-02-22 01:50] pat opened #14 "Presentations Meet - 25th February 2015"
Confirm Speakers:

- [x] @vonconrad - Reporting and the First Law of Holes
- [x] @gabrielrotbart - Testing Microservices
- [x] @akampjes - Rails security TL;DR

Hosting: @mariovisic with @pat around for moral support, and introducing @quamen as one of the new hosts.

TODO:
- [x] Announce event on Meetup
- [x] Email rails-oceania list announcing the event
- [x] Order alcohol from Dan Murphy's
- [x]

[2015-02-22 01:51] pat commented on #14
Hi all - sorry for the late notice about this event. If anyone can no longer present, do let us know!

[2015-02-22 01:53] akampjes commented on #14
@pat  Could you rename my talk to, "Rails security TL;DR"
How long are are the talks?

[2015-02-22 01:55] pat commented on #14
I'd be wary of going longer than 20 minutes, as that's about the point most people's brains shut off (especially if food has arrived). Shorter is fine too - there are no rules around this :)

[2015-02-22 01:58] vonconrad commented on #14
Very much looking forward to @akampjes' talk!

I don't have a good title for mine. I've been tossing up two talks--one about security/data protection, another about not to digging oneself into a hole when it comes to reporting. Seeing how Andrew is already talking about security, I'll probably go with the latter.

[2015-02-22 02:16] akampjes commented on #14
Sweet, 20minutes is perfect.

@vonconrad rad, you're into security too! We'll have to get a beer after or something.

[2015-02-22 03:29] vonconrad commented on #14
@pat Ideal aspect ratio for slides? Standard (4:3) or widescreen (16:9)?

@akampjes Sounds good! :smile:

[2015-02-22 03:32] akampjes commented on #14
@vonconrad try 16:9, whatever is at the bottom of your slides, no-one will be able to see because the person in front of them's head is in the way (in this venue).
If it's 4:3 and you make 16:9 slides you can just have black bars where no-one can see anyway.

[2015-02-22 03:34] pat commented on #14
4:3 will definitely be fine (it's what our sponsor deck uses)... not sure about 16:9, I should check.

[2015-02-22 03:34] pat commented on #14
But @akampjes's point about bottom and top of the slides are harder to see are worth keeping in mind :)

[2015-02-23 00:45] pat commented on #14
@vonconrad: sounds like you've chosen a topic, going by your tweets about slides? :) Care to let me know what to call your talk, so I can announce it to the list & meetup?

[2015-02-23 00:46] vonconrad commented on #14
@pat It's called "Reporting and the First Law of Holes."

[2015-02-23 00:47] vonconrad commented on #14
I'm at 102 slides now. :grin:

[2015-02-23 00:48] pat commented on #14
Crazy ;)

[2015-02-25 04:16] #12 closed

[2015-03-16 05:24] quamen commented on #14
This totally happened :+1:

[2015-03-16 05:27] mariovisic commented on #14
Can confirm, did happen!

[2015-03-16 05:27] #14 closed

[2015-03-16 05:27] quamen opened #15 "Presentation Meet - 25th March 2015"
Confirm Speakers:

March Talks:
  - [x]  ~~@joneslee85 - Lotus for Web APIs~~
  - [x]  @dreJ2k - Bike Trip Planner - Web App
  - [x]  @quamen - Black Box Testing

Hosting: @mattallen with @quamen around for moral support.

TODO:

- [x] Announce event on Meetup
- [x]  Email rails-oceania list announcing the event
- [x]  Order alcohol from Dan Murphy's
- [x]  Order soft drinks
- [x]  Order food from

[2015-03-16 05:28] quamen commented on #14
@mariovisic I was unable to close this issue, is there some bits you can flip in github to give myself and @mattallen higher privileges?

[2015-03-16 05:30] mariovisic commented on #14
@quamen you'll have to get added to this github team: https://github.com/orgs/rails-oceania/teams/melbourne-ruby

Ping anyone who is listed as an 'owner' on this page: https://github.com/orgs/rails-oceania/people

[2015-03-16 05:36] quamen commented on #14
@pat could you add me to the melbourne-ruby team?

[2015-03-16 05:39] pat commented on #14
Done.

[2015-03-16 05:49] pat commented on #15
@joneslee85, @dreJ2K: just mentioning you in case you missed the original notification (not sure you get alerts when edits add your username in) :)

[2015-03-16 12:26] drej2k commented on #15
Hi Pat,

Thanks for the add in!

The guys(@vasilly and @mike1372) and myself are currently drafting our talk. Will get back to you with the title shortly

[2015-03-18 05:39] quamen commented on #15
@drej2k cool. If you could let me know soon what the title is, then I'll be able to update the meetup page and send out the announcement email.

[2015-03-18 05:52] quamen commented on #15
@joneslee85 can't make this month, I've contacted one of the speakers lined up for next month to see if they want to speak this month. Will update the list above if they get back to me.

[2015-03-20 23:56] drej2k commented on #15
@quamen I did post the title information on wednesday night and was suprised not to see it here this morning. Here it is again:
Title: Bike Trip Planner - Web App
Background: A simple single page web app utilising Ruby, Rails, Postgresql, canvas and javascript

[2015-03-22 12:21] drej2k commented on #15
@quamen, @pat
I am wondering if there will be a wireless presentation clicker that we could use on Wednesday night?

[2015-03-22 22:13] quamen commented on #15
@drej2k I do not own one and I don't think inspire 9 does either.

[2015-03-22 22:19] pat commented on #15
Yeah, I'm afraid we don't have a spare one floating around at Inspire9, sorry.

[2015-03-22 22:45] mattallen commented on #15
I have one.

-- 
Matt Allen
0413 777 771

On 23 March 2015 at 9:20:02 am, Pat Allan (notifications@github.com) wrote:

Yeah, I'm afraid we don't have a spare one floating around at Inspire9, sorry.

—
Reply to this email directly or view it on GitHub.

[2015-03-23 11:35] drej2k commented on #15
@mattallen
Fantastic Matt, could please bring it on the night?

[2015-03-23 11:38] drej2k commented on #15
@quamen
On meetup.com/Ruby-on-Rails-Oceania-Melbourne/
Would it be possible to update the speakers list to:
Michael Kempster, Vasko Traikovski and Andre Vidic - Bike Trip Planner
?
Thanks

[2015-03-23 20:09] quamen commented on #15
@drej2k done. Sorry about the original not including everyone.

[2015-03-23 21:22] mattallen commented on #15
Indeed :)

-- 
Matt Allen
0413 777 771

On 23 March 2015 at 10:35:16 pm, Andre (notifications@github.com) wrote:

@mattallen
Fantastic Matt, could please bring it on the night?

—
Reply to this email directly or view it on GitHub.

[2015-04-22 00:04] #15 closed

[2015-04-22 00:06] quamen opened #16 "Presentation Meet - 29th April 2015"
Confirm Speakers:

March Talks:
  - [x] @joneslee85 - Lotus for Web APIs
  - [x] Anuj (redbubble) - “Customer Behaviour Modelling”
  - [x] Mario (http://www.meetup.com/members/66109352/) - "Ruby in the browser–and your smartphone"

Hosting: @mattallen with @quamen around for moral support.

TODO:

- [x] Announce event on Meetup
- [x]  Email rails-oceania list announcing the event
- [ ]  Order alco

[2015-05-21 09:16] #16 closed

[2015-10-25 00:01] quamen opened #18 "Keith Pitt - Magic"
@keithpitt is going to talk at the November meetup, actual content is still up on the air, but I'll leave it up to him to fill in the blanks :)

[2015-10-25 00:02] quamen opened #19 "Sebastian von Conrad - Practical TDD"
@vonconrad is going to run an interactive session on TDD.

[2015-10-25 23:21] keithpitt commented on #18
Ha! Awesome! I've got a few different things that I can talk about (depending on what people want to hear).

1. "How to travel the world and run a startup at the same time"
2. "GraphQL, Relay and React is the future of programming, for realz, don't care what you say, I will prove it"
3. "Race conditions are the worst" or "Why I spent all of my time in Croatia rewriting Buildkite"

That's all I've

[2015-10-25 23:23] ZimbiX commented on #18
Haha nice. I'd be keen to hear all three =)

[2015-10-26 00:27] quamen commented on #18
I love a good rant, I vote for number 2.

[2015-10-26 00:45] joneslee85 commented on #18
:+1: for 2

[2015-11-06 11:58] travo opened #20 "Travis Winters — Sanitized Transformations"
I've been spending some time at TC redesigning the way we handle custom markup in our CMS.

We have been using the [sanitize gem](https://github.com/rgrove/sanitize) and have found it to be reasonable, configurable and useful. I'll spend some time talking about its [processing/transformers](https://github.com/rgrove/sanitize#processing) feature and how we've been able to write a bunch of classes t

[2015-11-21 09:33] bingxie commented on #19
Will you use Rspec or minitest?

[2015-11-22 00:40] vonconrad commented on #19
@bingxie Rspec, but the testing framework used has very little meaning. I'm going to show the TDD practice, not a particular framework.

[2015-11-22 00:40] vonconrad commented on #19
@quamen Any chance we can spell my name correctly in the title? :grin:

[2015-11-22 01:13] quamen commented on #19
@vonconrad suer thing ;)

[2015-11-24 01:04] gerrywastaken commented on #18
How long can you speak for? 1, 2 and 3 in that order of preference.

[2015-11-24 01:41] keithpitt commented on #18
@gerrywastaken for as long as necessary! :watch:

[2015-12-17 21:37] #20 closed

[2015-12-17 21:37] #18 closed

[2015-12-17 21:37] #19 closed

[2015-12-17 22:20] jocranford opened #21 "Bronwen Clune & Jo Cranford - Diversity in Tech"
We would like to present some data from recent diversity studies carried out by Culture Amp alongside other research, to answer these questions:
- Why is diversity more than just a pipeline issue?
- Why should we care?
- What are the different ways in which women experience the tech industry compared to men?
- What other groups have different experiences?
- How can your team be more inclusive?

[2016-01-27 21:56] duncan-bayne opened #22 "Instrumenting and monitoring a Ruby app with statsd and DataDog"
I'd like to present some things I learned instrumenting and monitoring a Ruby app using DataDog's statsd implementation.  The rough plan at this point:

 * Why monitor your app?
 * What happens when you outgrow simple event-based alerting.
 * What are the alternatives?
 * How I approached it.
 * Things I'd do differently.

I'm intended to target developers with a bit of experience; senior folks pr

[2016-01-27 23:18] mariovisic commented on #21
This talk was great by the way!

[2016-01-27 23:27] #21 closed

[2016-01-27 23:27] mariovisic opened #23 "require, load and autoloading in ruby as well as rails"
I'd like to present on all the different ways that you can require external code in the ruby language. I've learnt a lot about this recently and I don't think it's that widely understood, but it's a good thing to learn.

I'll touch on the basics of the $LOAD_PATH and how require and load work. I'll talk a bit about ruby's inbuilt autoload and how it can be used for gem authors. I'll also talk a bi

[2016-02-15 10:50] lengarvey opened #24 "Lowering the Bar; a Diversity Myth"
It's a commonly heard refrain that we can't get more women into jobs in our industry because we don't want to "lower the bar". I'd like to address this on several levels:

1. It's faulty logic.
2. It's faulty maths.
3. You don't know your own biases.

Finally I'd like to talk about some simple things we might be able to do.

I want to give this talk for a couple of reasons:

1. It's important to h

[2016-02-15 21:24] vonconrad opened #25 "Event Sourcing, part 2"
I'd like to follow up my RubyConf talk which was meant to make people curious about Event Sourcing, with a talk about some of the practicalities and where to start.

For those who missed my RubyConf talk, I'll quickly recap that before launching into particulars.

I'd allow for 45 mins for this talk.

[2016-02-15 21:27] vonconrad opened #26 "Dependencies"
I have an idea for a talk about Dependencies. It would be aimed at beginners and intermediate developers and discuss what dependencies are and how they work. We'll draw them and talk through what circular dependencies are and how (and why) to avoid them.

Probably 20-30 mins.

[2016-02-16 01:12] joneslee85 commented on #25
:+1:

[2016-02-16 01:27] garrow commented on #25
:+1:

[2016-02-18 21:01] leriksen commented on #23
Great topic - almost enough for a series,  or a book!!

[2016-02-18 23:11] mariovisic commented on #23
@quamen late notice, but i'm now going to be away in Perth all next week. Are you able to bump me to the following month? I'd also be OK with presenting remotely as well if you want to try that out!

[2016-02-19 07:14] quamen commented on #24
@lengarvey would you be able to give this talk next week? Turns out @mariovisic is in Perth.

[2016-02-19 07:25] lengarvey commented on #24
👍🏼
No worries

On Thu, Feb 18, 2016 at 11:14 PM -0800, "Gareth Townsend" <notifications@github.com> wrote:

@lengarvey would you be able to give this talk next week? Turns out @mariovisic is in Perth.

—
Reply to this email directly or view it on GitHub.

[2016-02-21 23:21] mariovisic commented on #24
Thank @lengarvey

[2016-02-23 01:22] xuebingli commented on #25
:+1:

[2016-02-23 05:56] quamen commented on #23
@mariovisic moving you to March. Let me know if that's cool?

[2016-02-23 05:57] quamen commented on #25
@vonconrad are you happy to do this in March?

[2016-02-23 06:00] mariovisic commented on #23
@quamen very cool!

[2016-02-23 07:13] vonconrad commented on #25
For sure!

[2016-02-23 21:07] quamen commented on #25
Locked in 😄👌🏼

[2016-02-23 21:47] vonconrad commented on #25
Awesome! Thanks @quamen. :smile:

[2016-02-24 07:52] radar opened #27 "Hiring juniors"
I'd like to give a talk about hiring juniors in April. 20 mins, intermediate.

[2016-02-24 12:17] duncan-bayne opened #28 "Philosophy of Affirmative Action, Ruby in Emacs, Electrocution Driven Development"
I'd love to give a talk on April that's really three back to back lightning talks, with Q&A:

 * The philosophy of affirmative action (how AA is built upon the same philosophical principles as irrational discrimination, and why that's a problem)
 * Ruby in Emacs (cool Emacs plugins and config to make Ruby hacking awesome)
 * Electrocution Driven Development (in which I demo a hardware rig and a cu

[2016-02-24 12:21] duncan-bayne commented on #28
See https://mobile.twitter.com/duncan_bayne/status/702463858519121920 for the inspiration for EDD.

[2016-02-29 00:49] #22 closed

[2016-02-29 00:49] #24 closed

[2016-02-29 01:01] keithpitty opened #29 "Why I use Guard"
Configuring [Guard](https://github.com/guard/guard) may be an extra overhead but I reckon it pays back in spades. In this talk I'll demonstrate why I use Guard and how it can improve your development workflow.

I understand March is already chock full of talks so propose that I present this talk in May when I'll next be in Melbourne.

[2016-03-30 05:32] gerrywastaken commented on #23
A bit late for me to ask, but is this still happening tonight?

[2016-03-30 05:36] mariovisic commented on #23
@gerrywastaken ah sorry, i've managed to end up in Perth again this week, but i'll be around next month to present.

I believe @radar has organised a replacement, but i'm not too sure who will be presenting.

[2016-03-30 05:44] radar commented on #23
I can't reassign the milestone, otherwise I would have already.

This talk is moved to April.

We'll be having Sebastian give a 40 min talk tonight which'll give us ample talk time tonight :)

[2016-03-30 05:45] gerrywastaken commented on #23
Curse you again Perth! Cheers for the heads up @mariovisic

[2016-04-08 00:43] #25 closed

[2016-04-08 03:10] quamen commented on #27
Locked in 😄

[2016-04-08 03:43] radar commented on #27
👍👍

[2016-04-09 12:04] drej2k commented on #28
I'm interested in ruby in emacs.

Would be good for Vim users and sublime users too add they can see if they can add that type of functionality to their ide of choice

[2016-04-26 21:54] quamen commented on #28
Locked in for May

[2016-04-26 22:10] duncan-bayne commented on #28
@quamen I'll have you know I stayed up until midnight last night polishing this presentation, so I could make the date!!!!

Actually that's a total lie :smile:.  I stayed up until midnight in a mental haze from too many cold drugs, and finished the presentation on the train this morning.  Scheduling it for May will also give me the time to measure the current output from the EDD rig; when hooked u

[2016-04-27 23:00] alvaromaz opened #30 "Rebuilding citizenship in the 21st century"
Democracy is rooted in the idea that government derives its power from citizens, and that citizens are a necessary participant in building strong government. But in an age of deep cynicism in the political process, record low voter turnout and historic mistrust in government, we have lost that sense of civic responsibility.
Digital technology offers an opportunity to reanimate citizenship for the

[2016-04-27 23:14] quamen commented on #30
@alvaromaz how long will this presentation be roughly?

[2016-04-27 23:31] alvaromaz commented on #30
sorry forgot to add this - 15-20 minutes

[2016-04-29 05:54] asadeghi opened #31 "Maintaining legacy Rails applications"
I'd like to present on my experiences maintaining a legacy customer facing Rails application. We all know how to build an app, but keeping one up to date, or trying to resuscitate it after it has been ignored for 5+ years is a bit of a battle. I gather more and more organisations are having to deal with this legacy Rails app cost and hopefully I can empower them with some tips on how to reduce the

[2016-05-16 00:12] duncan-bayne opened #32 "Recording RoRo presentations"
Not a presentation, but an offer from Cogent of sponsorship, by way of recording presentations and making them available online through Eventer:

https://www.eventer.com/

If people are interested in proceeding, I'll arrange to set up the equipment with the Teamsquare folks, and it should hopefully be ready to record by the May presentation.

[2016-05-16 01:41] quamen commented on #32
Thanks for the offer. As long as we're happy to allow presenters the option of opting out, this sounds good to me 👍

Lets try it out in May and see how the community reacts.

[2016-05-16 05:48] duncan-bayne commented on #32
Actually, looks like May might not work; I'll keep you posted as soon as I know more.

[2016-05-18 10:48] #23 closed

[2016-05-18 10:48] #27 closed

[2016-05-25 05:03] quamen commented on #31
Would you be able to give this talk in June?

[2016-05-25 05:03] quamen commented on #30
Would you be able to give this talk in June?

[2016-05-25 06:15] alvaromaz commented on #30
Hey Gareth - yes, I see you have a hack night on the 8th? Let me know the
date and i'll put it in my calendar

Alvaro

On Wed, May 25, 2016 at 3:03 PM, Gareth Townsend <notifications@github.com>
wrote:

[2016-05-25 07:07] quamen commented on #30
@alvaromaz talks will be on the 29th of June (last Wednesday of the month). Let me know if that suits you and I'll lock the talk in.

[2016-05-25 07:17] alvaromaz commented on #30
I might have to get my other co-founder and director to do this one. His
name is Dan Groch - I've cc'ed him here. He's definitely in.

On Wed, May 25, 2016 at 5:07 PM, Gareth Townsend <notifications@github.com>
wrote:

[2016-05-26 04:51] asadeghi commented on #31
Absolutely. Would that be June 29th?

[2016-05-26 05:05] quamen commented on #31
@asadeghi yes, that would be the 29th of June

[2016-05-26 05:05] #29 closed

[2016-05-26 06:00] asadeghi commented on #31
Thanks @quamen. I'll get it ready for then.

[2016-05-29 11:40] dgroch commented on #30
Yep, happy to do this.
Where can I find all the details, eg location, date, start time?

[2016-05-29 22:26] quamen commented on #30
@dgroch the details for the June meetup can be found here: http://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/events/230893256/

[2016-05-29 23:08] dgroch commented on #30
Thank you @quamen

[2016-05-30 03:53] gusseting opened #33 "Ruby Newbies talks, July"
Proposal: 5 min talk on Mentoring: What newbies are looking for + need in mentors, from a newbie perspective.

[2016-05-30 04:14] MelissaKaulfuss commented on #33
Proposal: 30 minute Q&A lead panel discussion with a varied set of people who are at different stages of their journeys as junior devs.

Involving topics such as:
– How did you land your first job as a junior?
– What was involved in the hiring process?
– 3 tools/thing-ys you use everyday at work and you think any junior should learn to help their chances.
– 2 years on – what you should know and be

[2016-06-17 00:17] duncan-bayne commented on #28
Sorry again for not being able to present this last month :cry:

@quamen Can we slot this presentation in sometime in the next few months?

[2016-06-17 00:21] quamen commented on #28
@duncan-bayne June is full, and July is scheduled to be a ruby noobie night. Does August work for you?

[2016-06-17 00:23] duncan-bayne commented on #28
Thanks for getting back so promptly - unfortunately not, as my wife will be 8 months pregnant at that point & she's specifically asked me to be at home evenings by then.

November??? Is it too early to schedule that?

[2016-06-17 00:28] quamen commented on #28
nope. I'll create a mileston and assign it.

[2016-06-20 12:57] rpocklin opened #34 "API Docs - Like a boss!"
This would be a 5 - 10 minute summary of how to auto-generate current API docs that deploy with your code, and make it look at sweet as Stripes - https://stripe.com/docs/api/python#metadata

Let me know if you want this for the 29th of June.

[2016-06-20 20:56] quamen commented on #34
Sounds like a fantastic talk.

We've already got a full line up for June. I'll confirm with the other speakers and get back to you.

[2016-06-20 20:57] quamen commented on #30
@dgroch just confirming you're still good to talk in June?

[2016-06-20 20:57] quamen commented on #31
@asadeghi just confirming you're still good to talk in June?

[2016-06-20 23:07] dgroch commented on #30
Yep, will be ready to talk on the 29th :)

[2016-06-21 04:32] asadeghi commented on #31
Yes indeed. Thanks for checking Gareth.

On Tue, Jun 21, 2016 at 6:57 AM, Gareth Townsend <notifications@github.com>
wrote:

[2016-06-22 05:29] martinli11 opened #35 "Hiring Strategies and Best Practices To Scale Your Dev Team"
What has Hired seen in terms of data across the globe for Ruby developers? What are the trends developing for Ruby developers globally and in Australia?

In today's competitive hiring environment, what are some best practices and strategies to get the most out of your teams? What is the key to hiring well, and hiring fast so you can be first to go to market with your product?

Speaker will be Sasc

[2016-06-25 08:45] drej2k commented on #33
@MelissaKaulfuss How is this going?
Would love to get involved, help out and present my experiences. Let me know...

[2016-06-29 08:38] alexiamcdonald opened #36 "Ruby newbie night meta programming"
Hey I would like to talk about meta programming on the Ruby newbie night.

[2016-06-29 09:44] mattdelves opened #37 "lightning talks 101"
keeping your talks to under 5 minutes

slides

emojis

pictures

gif (hard g)

emacs

[2016-06-29 09:45] quamen commented on #37
No

[2016-06-29 09:45] #37 closed

[2016-06-29 09:57] dgroch opened #38 "Managing bias at Facebook"
https://managingbias.fb.com

[2016-06-30 00:24] quamen commented on #36
👌

[2016-06-30 00:25] #30 closed

[2016-07-12 23:54] gonzalo-bulnes commented on #38
On the same topic: [Unlocking the Clubhouse](https://mitpress.mit.edu/books/unlocking-clubhouse) reports on a 5-year research about minorities in computing which led to significant changes in the Carnegie Mellon curriculum, with lots of concrete examples, interviews, ideas, and numbers (for those who like them).

While it is primarily focused on _Women in Computing_, I found the report content dee

[2016-07-15 01:27] anicholson opened #39 "Crystal for Ruby developers"
Hi!

I've been using [Crystal][crystal] for a small side project and would like to share a bit about the language to Ruby developers :)

[crystal]: http://crystal-lang.org/

[2016-07-18 11:26] asadeghi commented on #31
Hi @quamen. Apologies again for not being able to present my talk in June. Can I please be rescheduled for an upcoming month? I can do July or any other month that suits you. Cheers.

[2016-07-19 00:16] quamen commented on #31
@asadeghi We're running a noobie night this month, would this talk be suitable for beginners as a talk towards the end of the night? Or do you think it would go well over their heads. I ask as it's currently tagged as intermediate.

[2016-07-19 02:17] asadeghi commented on #31
@quamen . Now that I have written the talk I can see that it is closer to beginner level, so would be quite appropriate for noobies. I probably also only have 15 minutes of material. Would be happy to go at the end of other talks this month. Feel free to update labels (doesn't look like I can do that myself). Cheers.

[2016-07-19 02:34] quamen commented on #31
@asadeghi awesome. In that case I'll get you to speak this month and we'll slot you in towards the end as one of the slightly longer talks.

[2016-07-19 02:36] quamen commented on #33
@drej2k I've heard from @MelissaKaulfuss that the panel isn't going to happen, but would be very keen to have you do a talk on something.

Maybe a 5 minute lightning talk on something interesting in ruby/rails?

I'll be giving my intro to enumerable talk for example.

[2016-07-19 09:38] asadeghi commented on #31
@quamen Sounds good.

[2016-07-19 11:27] drej2k commented on #33
@quamen i could do a 5 min talk on git using tig (recovering from doom - quickly restoring to previous project states)

But I can only present prior to 7.30pm. I have to leave by 7.45pm.

Otherwise I am happy to present next month, on a different topic, for a longer timeframe and something that might be a junior/mid level talk.

Let me know what works.

[2016-07-19 23:14] quamen commented on #33
@drej2k 5 minutes on git and how to save yourself from doom sounds great. We'll put you up first.

[2016-07-19 23:33] drej2k commented on #33
@quamen Ok, I better start writing this talk!

[2016-07-20 06:26] mipearson opened #40 "Speeding up CI with parallel-rspec & aggressive caching"
I'd like to talk about how we use buildkite, aggressive asset caching and parallel-rspec to achieve a 5x to 10x speedup on our integration testing stack at Marketplacer.

I'd also like to talk a bit about our integration testing strategy and how it allows us to confidently deploy to production on any green build, and why that means that a fast CI system is essential for our team.

[2016-07-20 07:01] quamen commented on #40
Love it!

[2016-07-22 22:42] gerrywastaken commented on #39
I'm so glad there is somebody else out there who sees it's potential. I would love to hear this talk.

[2016-07-23 12:23] quamen commented on #34
@rpocklin would this talk be suitable for beginners? Or more tailored towards intermediate/advanced ruby developers?

[2016-07-23 12:24] quamen commented on #33
@gusseting are you still good to talk on mentoring?

[2016-07-23 13:06] gusseting commented on #33
@quamen indeed!

[2016-07-26 03:16] Ashley-Pettit commented on #33
Heya, I can if needed :). Looks like starting a dev job and would love to share what worked/what didn't when learning. Chaio!

[2016-07-26 05:26] quamen commented on #33
@Ashley-Pettit consider yourself signed up 👍

[2016-07-27 23:12] jocranford opened #41 "GitSavvy - change how you work with Git"
GitSavvy is a Sublime text plugin that changed my life. Seriously, it's that good. I've been using it for over a year and it's crashed maybe once.

It integrates with Sublime to allow you to create commits and view diffs. If you don't love working with the command line, but find GUI tools a bit cumbersome, GitSavvy is like the perfect mix.

I would like to do a short talk to demo the tool (probabl

[2016-07-28 00:00] quamen commented on #41
Locked in for September @jocranford

[2016-07-28 00:00] #31 closed

[2016-07-28 00:00] #33 closed

[2016-07-28 00:00] #36 closed

[2016-07-28 00:01] quamen commented on #34
@rpocklin would you be able to do this talk at the August meetup?

[2016-07-28 00:01] quamen commented on #39
@gerrywastaken would you be able to do this talk at the August meetup?

[2016-07-28 00:14] mipearson commented on #40
Yep, I'd love to. Transport issues mean that I would greatly prefer to be the first slot, though.

[2016-07-28 00:37] quamen commented on #40
@mipearson the first slot is yours then

[2016-07-28 00:58] anicholson commented on #39
@quamen I'm going to assume you meant me! I can probably make that work :)

[2016-07-28 01:03] quamen commented on #39
@anicholson oh yes, I definitely meant you 😄

[2016-07-28 14:34] gerrywastaken commented on #39
@quamen @anicholson I had a slight panic attack 😆

[2016-07-29 04:05] colby-swandale opened #42 "Writing a Gameboy Emulator in Ruby"
Hi, I will be giving this talk at RubyKaigi in September and would love to show everyone here in Melbourne as well.

Released in 1989 the Gameboy was the first handheld console of the Gameboy series to be released by Nintendo. It featured games such as Pokemon Red & Blue, Tetris, Super Mario Land and went on to sell 64 million units worldwide.

My talk will be discussing what components make up a

[2016-07-29 04:07] quamen commented on #42
@colby-swandale Love it.

[2016-07-29 04:21] joneslee85 commented on #42
❤️

[2016-07-29 04:49] colby-swandale commented on #42
I should mention that you don't require a computer science degree to understand my talk, i have made it very friendly and accessible to everyone. If you understand basic ruby such as arrays and loops, you're all good.

[2016-08-07 09:37] antulik opened #43 "Improve perceived performance of your rails application with minimum effort"
I've finally extracted library from the work project.

https://github.com/antulik/pagelet

Would like to present on subject of perceived performance and demo proposed solution. The talk would interesting for all levels of developers.

Would like to present on August meetup while the knowledge is still hot. Flexible on time, but need to know the length of the talk beforehand.

[2016-08-07 22:54] quamen commented on #43
@antulik sounds good to me. How long do you want to talk for?

[2016-08-07 22:56] antulik commented on #43
20-30 min

[2016-08-08 00:05] quamen commented on #43
@antulik awesome. You're locked in for August.

[2016-08-08 00:19] sniferx1 commented on #40
+1 for this topic

[2016-08-08 00:20] sniferx1 commented on #35
+ 1 from me

[2016-08-08 00:21] quamen commented on #35
@martinli11 would you be able to give this talk at the September meetup?

[2016-08-09 06:06] martinli11 commented on #35
@quamen What date exactly is the September meetup? I will confirm with Sascha but should be no problem!

[2016-08-09 06:32] quamen commented on #35
@martinli11 it will be the Wednesday the 28th of September.

[2016-08-10 02:03] martinli11 commented on #35
@quamen Yup can do, lock it in!

[2016-08-10 03:56] quamen commented on #38
I'm closing this as it's a link and not a talk per se. If people want to continue the discussion feel free to post these links to the meetup group's discussion board.

[2016-08-10 03:56] #38 closed

[2016-08-10 03:57] quamen commented on #42
@colby-swandale I've tagged this talk as a beginner friendly talk. Would you be happy to do this at our September meetup (28th) which is after RubyKaigi?

[2016-08-10 05:01] colby-swandale commented on #42
sounds good 👍

[2016-08-10 05:02] quamen commented on #42
@colby-swandale locked in.

[2016-08-12 06:48] Ashley-Pettit commented on #26
I'd love this talk. Definitely had issues with dependancies and would love to hear what you have to say about it!

[2016-08-12 06:52] quamen commented on #26
@vonconrad how would you feel about giving this talk in October?

[2016-08-12 06:52] Ashley-Pettit commented on #35
Will be an interesting talk. I'd like to know how is hired is different to a recruitment agency. The fees still seem very high

[2016-08-16 02:44] vonconrad commented on #26
@quamen Could do! I need an excuse to put the slides together for this one anyway, as I've been meaning to give it internally at Envato as well.

[2016-08-16 02:54] quamen commented on #26
@vonconrad consider yourself locked in for October then :)

[2016-08-16 03:09] vonconrad commented on #26
:+1:

[2016-09-02 01:29] alexiamcdonald opened #44 "Writing Observers"
I thought I could do a talk about writing observers in Rails. It would be aimed at beginners. The talk would probably be about 15 minutes.

[2016-09-22 03:51] martinli11 commented on #35
@quamen FYI - we are going to bring in Andrew Erskine for this talk. He has been with Hired since the beginning and is in charge of the "talent" side of our business. He will bring specific insights for Melbourne market (as well as global trends) that will be particularly relevant for the audience!

[2016-09-22 06:31] #39 closed

[2016-09-22 06:31] #40 closed

[2016-09-22 06:31] #43 closed

[2016-09-22 06:32] quamen commented on #34
@rpocklin or even at the September meetup?

[2016-09-22 06:32] #28 closed

[2016-09-22 06:32] #32 closed

[2016-09-22 09:32] quamen commented on #35
@martinli11 sounds good to me 👍

[2016-09-22 09:33] quamen commented on #41
@jocranford I'm going to close this as you're unavailable to give the talk for the rest of the year. If things change, or you want to do this talk next year, just re-open the issue.

[2016-09-22 09:33] #41 closed

[2016-09-22 09:34] quamen commented on #44
@alexiamcdonald would you like to give this talk in October?

[2016-09-22 23:25] kirikamal commented on #34
Sounds good

[2016-09-23 00:03] anicholson commented on #39
[Deck from the talk][1]

[1]: http://andrewdotni.ch/presentations/crystal-roro-aug-2016/

[2016-09-25 06:04] alexiamcdonald commented on #44
Yeah sure

[2016-09-25 22:54] quamen commented on #44
@alexiamcdonald 👏

[2016-09-26 12:16] rpocklin commented on #34
Apologies, can't do the September one - October is perfect though.

[2016-09-26 12:22] quamen commented on #34
@rpocklin October it is then

[2016-09-28 12:19] antulik opened #46 "November - lightning talks only"
November meetup should only has lightning talks. Each 5 minutes maximum, no slides required. You can talk about anything - ruby, favourite gem or just what you've worked on or learned during the year.

If you come to meetup be prepared to talk about something. You might not have a chance, but if asked you should talk. No exceptions.

Why
- this was the successful format of BrisRuby and Railcamps f

[2016-09-28 21:33] #42 closed

[2016-09-29 00:00] #35 closed

[2016-09-29 00:01] quamen commented on #46
I love this idea.

[2016-10-05 03:13] MelissaKaulfuss commented on #46
I could quickly cover:
3 things I've learnt in my first 3 months as a dev.
(something along those lines – but it will be ruby focused).

[2016-10-23 11:04] quamen commented on #26
@vonconrad just checking you're still good to talk on Wednesday?

[2016-10-23 11:04] quamen commented on #34
@rpocklin just checking you're still good to talk on Wednesday?

[2016-10-23 11:05] quamen commented on #44
@alexiamcdonald just checking you're still good to talk this Wednesday?

[2016-10-23 12:20] rpocklin commented on #34
Yep

[2016-10-24 00:58] alexiamcdonald commented on #44
@quamen I haven't finished it but if it doesn't pan out I can always do the one I did at the Elixir meet

[2016-10-24 01:06] quamen commented on #44
@alexiamcdonald 👌

[2016-10-24 03:05] vonconrad commented on #26
I've been sick all weekend so prep time has been close to zero. I should be able to get something together though.

[2016-10-24 05:51] quamen commented on #26
@vonconrad 👌

[2016-10-25 18:14] rpocklin commented on #34
Yep

On 23 Oct 2016 22:05, "Gareth Townsend" <notifications@github.com> wrote:

[2016-10-25 22:32] drej2k opened #47 "3 min to talk about rails camp 20 Dec 9-12"
@quamen would it be possible to spare a few minutes, preferably at the start of tonight's meeting to mention rails camp 20 and ticket sales?

I have some slides to show for this.

[2016-10-25 23:14] quamen commented on #47
@drej2k sure thing.

[2016-10-26 08:38] chendo opened #48 "Shipping with Speed and Confidence"
This talk will cover how we ship updates to our mobile apps as easily as we do to our web app.

I can prepare this talk for Jan. Probably around 15-20min.

[2016-10-26 21:56] quamen commented on #48
@chendo sounds great. Lets lock it in.

[2016-10-26 21:57] #26 closed

[2016-10-26 21:57] #34 closed

[2016-10-26 21:57] #44 closed

[2016-10-26 21:58] #47 closed

[2016-10-26 23:46] simonhildebrandt opened #49 "Rack Fundamentals"
Learn the machinery that underpins our favourite frameworks, and why you might not need a whole Rails stack for an API that's basically a single method.

Potential lightning talk, or 20 minute full presentation.
- Simon Hildebrandt is a senior web developer with extensive experience in Ruby and Javascript, and has written or contributed to several Ruby gems and NPM modules.

[2016-10-26 23:48] simonhildebrandt opened #50 "Restroom: API Gems The Easy Way"
While trying to improve on the existing Bitbucket gem, we stumbled on this one weird trick for building gems for RESTful APIs.

https://github.com/simonhildebrandt/restroom

Potential lightning talk, or full presentation.
- Simon Hildebrandt is a senior web developer with extensive experience in Ruby and Javascript, and has written or contributed to several Ruby gems and NPM modules.

[2016-10-26 23:53] simonhildebrandt opened #51 "Beyond Heroku: Amazon Opsworks for Ruby and Rails"
Somewhere between the cookie-cutter simplicity of Heroku and the land of web-scale industrial Docker, I found a sweet spot for prototyping and rapidly evolving systems - Amazon's Opsworks. Learn about the features and workflows that make this platform a great choice for new-to-mid-level projects.

Potential lightning talk, or full presentation.
- Simon Hildebrandt is a senior web developer with ex

[2016-10-27 00:00] simonhildebrandt opened #52 "Grape with Swagger: effortless, self-documenting APIs"
Learn the simplest way to wire up a RESTful API in Ruby - and the one weird trick to automatically generate interactive documentation for it.

Potential lightning talk, or full presentation.
- Simon Hildebrandt is a senior web developer with extensive experience in Ruby and Javascript, and has written or contributed to several Ruby gems and NPM modules.

[2016-10-27 00:07] simonhildebrandt opened #53 "React-ion Time Is A Factor: Ultralight web applications with React"
Learn why Facebook's framework for web interfaces makes the difficult trivial and the impossible merely awkward - with tips on asset pipelines and modern JS development (ES6, Browserify) and hints about complimentary technologies (MaterialUI, GraphQL, RxJS.)

Potential lightning talk, but better as a full presentation.
- Simon Hildebrandt is a senior web developer with extensive experience in Ruby

[2016-10-27 11:50] drej2k opened #54 "Slides or links to Sebastian's Dependencies talk from last night?"
@quamen could not stay for Sebastian's talk. Did he have a link to slides or a github page for his talk?

[2016-10-27 22:19] quamen commented on #54
@vonconrad ?

[2016-10-28 00:00] vonconrad commented on #54
👋

https://speakerdeck.com/vonconrad/handwaving-about-dependencies 😄

[2016-11-13 22:10] #54 closed

[2016-11-18 06:10] pat opened #55 "Open Source: Power and the Passion"
This is a talk I've given at a few conferences, about the pros and cons of open source, how we've built so much on top of it, but it's perhaps not the stable foundations we were hoping for.

It's not been accepted for RubyConf AU, so I'm happy to present it at RORO at some point :) It's about 30 minutes long.

[2016-11-20 23:18] quamen commented on #55
@pat awesome, would January or February work for you?

[2016-11-21 00:02] pat commented on #55
January works for me :) (February too, but it'll be a little fresher in my mind in Jan).

[2016-11-21 00:29] quamen commented on #55
Lets lock it in for the January meetup then.

[2016-11-30 11:29] ponny opened #56 "Quitting your job as a responsible Melbourne Rubyist"
More coherent version of my 4.5 minute lightning talk but with pacing, slides, gifs, and maybe graphs this time.  Happy to delay it for a while until it feels fresh.

Talking points:
1. The fallacy of the startup
2. Bootstrapping and the Monthly Recurring Revenue metric
3. Moonlighting and how to find the time
4. Competitive advantages/disadvantages of being a Melbournian, a Rubyist, and an Austra

[2016-11-30 11:55] ponny opened #57 "Real-world i18n"
Our journey to 27 languages and the steps we wish we took.

Contents:
1. Setting i18n up Rails
2. Useful tooling
3. What we did wrong
4. Getting translations
5. Maintaining translations
6. Right-to-left, long words in Russian, and other edge cases to drive you mad

Some code, ~15 mins

[2016-11-30 22:26] drej2k commented on #46
@antulik Thanks for proposing this. Worked out really well!

[2016-11-30 23:24] #46 closed

[2016-11-30 23:28] quamen commented on #49
@simonhildebrandt lets do this talk in January

[2016-12-01 03:28] simonhildebrandt commented on #49
Awesome, sounds good. :)

[2016-12-03 09:56] antulik commented on #46
Yeah it worked amazingly well. Thanks to @quamen

We should do it more often like @quamen suggested.

[2017-01-12 10:26] yifeiwu commented on #56
I like this

[2017-01-17 21:35] smontanari opened #58 "Code forensic analysis"
This is a presentation/demonstration talk about alternative techniques to analyse large codebases and detect potential issues with software design or code quality. I'm going demo the use of [code-forensics](https://github.com/smontanari/code-forensics) as applied to our rails monolith in Redbubble and how it is helping us to address the growing technical debt. The work is inspired by the book "You

[2017-01-19 01:28] pat commented on #55
@quamen sorry to throw a spanner in the works, but I've _just_ been asked to be a backup speaker (with this presentation) for RubyConf AU. Potentially giving the same talk twice in the same city within a couple of weeks feels unwise… is it possible to find a replacement speaker for the Jan meetup? Happy to be a potential speaker for Feb (if I'm not called upon at the conference).

[2017-01-19 05:18] quamen commented on #55
@pat Boo! Hiss! 😛 😃

It's all good. We still have 2 speakers lined up for January so I'll just shift your talk to Feb/March or sometime later based on whether you give the talk or not at RubyConf AU.

[2017-01-19 07:57] pat commented on #55
Thanks Gareth :)

[2017-01-31 11:49] mcgain opened #59 "Building consistent developer environments"
At Shopify, we've used Boxen and Vagrant, and then finally developed our own set of tools to manage development environments. I want to share our journey and hopefully offer some advice for people wanting to build their own.

I want to cover:
* Why even use environment configuration
* The advantages and disadvantages of Vagrant, Boxen, and Babushka
* How we developed dev(our tool), why we chose to

[2017-01-31 23:23] quamen commented on #59
@mcgain sounds like a great talk. I've tagged this as 20minutes and targeted at intermediate developers.

Would you be able to give this talk in Feb or March?

[2017-01-31 23:23] #48 closed

[2017-01-31 23:23] #49 closed

[2017-01-31 23:24] quamen commented on #58
@smontanari would you be available to give this talk in Feb?

[2017-01-31 23:25] quamen commented on #57
@ponny would you be available to give this talk in Feb?

[2017-02-01 08:33] mcgain commented on #59
@quamen Yeah, Feb or March would be fine.

[2017-02-01 23:11] quamen commented on #59
@mcgain I'll lock you in for a talk in Feb then 😄

[2017-02-06 11:08] MelissaKaulfuss opened #60 "git init – a beginners guide to untangling source control"
I've done this talk at campJS it seemed to be well received.
It's very beginner focused.
Talks through the very basics of how git works.
I might add some more stuff now that I have some experience untangling things a bit more.

I really don't want to bore everyone though if it's too basic. I feel like this is good for someone who has no idea what and why they'd use it.

[2017-02-07 10:15] ponny commented on #57
I'd prefer not this month.  There's a talk that sounds very similar at RubyConf Melbourne 2017.

[2017-02-07 10:42] janko-m opened #61 "Shrine – Handle File Uploads like it's 2017"
[Shrine](https://github.com/janko-m/shrine) is a relatively new solution for handling file uploads, which I've been actively developing for over 1 and a half years. I've built Shrine because the existing libraries were missing many features that I considered essential for creating great user experience around file uploads, and I would love to share them with you.

Things that I would cover:

* Dir

[2017-02-07 21:23] smontanari commented on #58
Yes I would, any time you like

[2017-02-07 21:54] quamen commented on #58
@smontanari lets lock this one in for Feb then 😄

[2017-02-07 21:54] quamen commented on #61
@janko-m sounds like a great talk, lets lock it in for Feb

[2017-02-07 21:56] quamen commented on #57
@ponny no worries, we'll wait till after RubyConf and figure out a date then

[2017-02-13 05:37] anicholson opened #62 "On the Roda 'gain: beautiful Rack routing"
Having used Roda a couple times recently and _loved_ it, I'd be happy to share an example on how to get going and set up Roda for clarity and joy :)

Level: Beginner-Intermediate
Time: ~20 minutes

Not going to be available before April :)

[2017-02-13 12:29] pat commented on #55
So I did end up speaking at RubyConf AU, and I think the moment's passed for having this talk at Melbourne Ruby. I'll ponder topics for future presentations though!

[2017-02-13 12:29] #55 closed

[2017-02-14 00:33] quamen commented on #62
Sounds good to me, can I lock you in for May?

[2017-02-14 00:37] anicholson commented on #62
@quamen which week of May will it be? I'm going to be away at the start. If it's in the final 2 weeks I can do it :)

[2017-02-14 01:03] quamen commented on #62
@anicholson Wednesday the 31st of May

[2017-02-14 02:42] anicholson commented on #62
@quamen lock it in, Eddie :)

[2017-02-17 01:36] keithpitt opened #63 "Why you should stop using Slack"
Probably a bad title to choose, but the talk will be about other methods of communication, and what the world was like pre-slack, and how real-time ASAP collaboration may be doing you more harm than good.

Talk will be around 10-15 minutes. There won't be any code.

Available when evs!

[2017-02-22 00:54] MelissaKaulfuss opened #64 "How to cloud – a beginners guide to AWS"
Would like to cover the basics of:
What is cloud, what you can do with AWS, services they provide, costs.
EC2
ELB
Auto-scaling

I have no fucking idea but I will have an idea by the time I give this talk (if you let me).
Let's schedule this for May if you want to let me.

[2017-02-22 01:02] quamen commented on #64
@MelissaKaulfuss lock it in 😄

[2017-02-22 01:02] MelissaKaulfuss commented on #64
Okay 👍

[2017-02-22 01:12] kirikamal commented on #64
For May

[2017-02-23 07:30] fbvilela commented on #59
Hi @mcgain , @quamen
It's the first time I edit a video like this... I have uploaded as unlisted.
Our recording system produces two files, the slides and the stage video, in synch, which is pretty cool. See what you guys think of it and I'll edit the other two talks tomorrow.

https://www.youtube.com/watch?v=dNuTj0WMpuc&feature=youtu.be
video might be still processing... give it a few minutes.

[2017-02-23 18:57] mcgain commented on #59
Thanks!

The recording seems to have worked out pretty well. A couple of audio issues where I lean away from the mic, but there's nothing you can do about that.

[2017-02-26 23:44] fbvilela commented on #58
https://youtu.be/cv-Az03TBbI
@smontanari @quamen

Here is the recording. Video is unlisted for now.

Gareth, let's talk about creating the melbourne ruby youtube channel and upload the videos as public

[2017-02-26 23:45] fbvilela commented on #61
https://youtu.be/plD-RkKEay0
@janko-m @quamen

Here's the video of the talk...

[2017-02-27 00:15] janko-m commented on #61
@fbvilela Great, thank you!

[2017-02-27 02:22] quamen commented on #58
@fbvilela is there anything special I need to do to set this up? or do I just create an account and invite you?

[2017-03-06 00:06] ranunculaceae opened #65 "Dear Rubyists... and any other web developers listening"
Will cover common issues found when doing security testing on web applications, and fixes that can be implemented.

Things I will cover:
- Outdated libraries
- Template language sandbox bypasses
- Server side validation
- Managing file uploads
- Security Headers and CSP
- Best practice when handling user authentication and user management

The goal of the talk is to show that 'simple' issues (that

[2017-03-06 05:07] quamen commented on #52
@simonhildebrandt would you be available to give this talk in March?

[2017-03-06 05:07] quamen commented on #63
@keithpitt would you be available to give this talk in March?

[2017-03-06 05:08] keithpitt commented on #63
@quamen sure thing! What date?

[2017-03-07 00:46] quamen commented on #63
@keithpitt 29th March.

[2017-03-07 00:54] keithpitt commented on #63
@quamen rad, I'll be there!

[2017-03-08 02:29] MelissaKaulfuss commented on #60
@quamen can you tell me is this scheduled at all? I just need to know if I have to write a talk.

[2017-03-08 03:11] quamen commented on #60
@MelissaKaulfuss this is not currently scheduled, but if you're available to do this talk in March then I'll schedule it. Let me know.

[2017-03-08 03:50] MelissaKaulfuss commented on #60
Nah all cool, happy to wait it out ;)

[2017-03-08 23:43] MelissaKaulfuss opened #66 "The long road to Internet"
A non-codey talk about my path into dev.
What happened when I got there.
How I struggled with imposter syndrome and anxiety and overcame it.

Light, and not too long, runs about 10-15 mins.

[2017-03-14 02:48] quamen commented on #66
@MelissaKaulfuss are you happy to give this talk this month?

[2017-03-14 02:49] quamen commented on #56
@ponny would you be able to give this talk at the March meetup?

[2017-03-14 03:40] MelissaKaulfuss commented on #66
Yeah okay I'll do it 💯

[2017-03-14 04:58] quamen commented on #66
👏

[2017-03-23 05:30] ponny commented on #56
@quamen Sorry, I missed your message in my firehose of GitBub spam ;-)

Can do.

[2017-03-23 07:17] quamen commented on #56
Not too late. Lets lock it in 😄

[2017-03-26 22:48] ponny commented on #56
Going to have to re-schedule, sorry.

[2017-03-29 19:21] antulik commented on #63
@keithpitt are the slides available?

[2017-04-02 23:43] keithpitt commented on #63
@antulik they're not I'm afraid :( I don't think I'll post them because there wasn't a great amount of detail in them - just funny pictures.

My entire talk was pretty much a poor recreation of the points in this blog post: https://m.signalvnoise.com/is-group-chat-making-you-sweat-744659addf7d if you read that you'll get the gist of what I was talking about :)

[2017-04-11 06:27] elle opened #67 "About product design sprints"
- What they are
- What they are good for
- Who should be involved
- What do they entail
- What do you get in the end of the sprint

[2017-04-12 04:39] HashNotAdam opened #68 "Step away from ActiveRecord"
I've just refactored a method so that a task which used to take several minutes instead takes seconds.

Previously, the heavy lifting done by the method was performed in Ruby which was replaced with SQL. It's a great example of how sometimes it can be valuable to sacrifice the many benefits of an ORM for the raw performance of SQL.

While the time for this talk can be flexible, I would suggest it

[2017-04-13 02:27] joneslee85 opened #69 "Yet another walkthrough on Hanami 1.0"
![](http://hanamirb.org/images/home-background.jpg)

[Hanami framework](http://hanamirb.org/) has just released [its 1.0](http://hanamirb.org/blog/2017/04/06/announcing-hanami-100.html), marking the biggest milestone ever achieved by this humble project with an ambition to offer to Web-based app Ruby developers an alternative to Rails.

There has been many changes in the core of the framework and

[2017-04-24 23:37] radar commented on #69
@joneslee85 Are you prepped to give this talk next week?

[2017-04-27 04:37] joneslee85 commented on #69
@radar if I get chosen, surely I will

[2017-04-27 07:32] simonhildebrandt commented on #68
That sounds awesome. 😊

[2017-04-27 07:38] simonhildebrandt opened #70 "All your Firebase are belong to us"
Everyone's trying to sync their data into their browser interfaces - graphql, pubnub, web sockets... But what if all the heavy lifting was done for you, and you could just respond to library events, on the server *and* the browser? Firebase is a new Google acquisition that has wide-ranging integrations across services like authentication, and languages like Ruby - and with integrated security tool

[2017-04-27 07:38] simonhildebrandt commented on #70
Simon Hildebrandt is a senior web developer with extensive experience in Ruby and Javascript, and has written or contributed to several Ruby gems and NPM modules.

[2017-04-27 07:39] simonhildebrandt commented on #70
(This could be a lightning talk, or a more involved 20-minuter.)

[2017-04-27 09:44] HashNotAdam commented on #70
Agreed 👍

[2017-04-28 05:42] tcn33 commented on #69
@joneslee85 you're chosen! Still good to go for May 3rd?

[2017-04-28 05:44] tcn33 commented on #67
Hey @elle - would you be available to give this talk at the next meetup (May 3rd)? Sorry for the late notice :(

[2017-04-28 05:44] tcn33 commented on #56
@ponny are you available to give this talk at the next RORO on May 3rd?

[2017-04-28 05:58] ponny commented on #56
@tcn33 Yep.  Planning on it.

[2017-04-28 05:59] ponny commented on #56
Had a chat to reschedule on 3rd with Gareth.  Sorry that wasn't clear.

[2017-04-28 05:59] tcn33 commented on #56
@ponny boom! Thank you :)

[2017-04-30 10:31] elle commented on #67
Of course

[2017-04-30 22:13] tcn33 commented on #67
Awesome, thanks @elle!

[2017-05-01 01:56] #61 closed

[2017-05-02 01:12] joneslee85 commented on #69
@tcn33 hey Toby, I am not in good shape to give presentation tomorrow. Sorry for the last minute change, I'll give this talk next month.

[2017-05-02 04:17] tcn33 commented on #68
@hashnotadam are you available to give this talk tomorrow night? Sorry for the late notice, we had a last-minute cancellation

[2017-05-03 01:06] tcn33 commented on #66
Great talk :)

[2017-05-03 01:06] #66 closed

[2017-05-03 01:11] tcn33 commented on #69
@joneslee85 okay for the May 31st meetup? (it's _almost_ next month 😝 )

[2017-05-03 01:12] tcn33 commented on #63
Loved your work :)

[2017-05-03 01:12] #63 closed

[2017-05-03 01:13] tcn33 commented on #50
@simonhildebrandt thanks for giving this talk on short notice last meetup :)

[2017-05-03 01:13] #50 closed

[2017-05-03 01:13] tcn33 commented on #59
Great talk @mcgain :)

[2017-05-03 01:13] #59 closed

[2017-05-03 02:16] keithpitt commented on #63
Thanks @tcn33! A+, would rant again!

[2017-05-03 03:05] simonhildebrandt commented on #50
My pleasure. :)

[2017-05-03 03:57] HashNotAdam commented on #68
@tcn33 Sorry, not enough notice, particularly since I've only just seen your message. I need to create a couple of clear slides so I'm not just dropping a stack of SQL on people 😆

[2017-05-03 03:59] tcn33 commented on #68
@HashNotAdam no drama, very short notice. May 31 perhaps?

[2017-05-03 03:59] tcn33 commented on #58
@smontanari excellent talk :)

[2017-05-03 03:59] #58 closed

[2017-05-03 04:11] HashNotAdam commented on #68
Lock it in @tcn33, that's more than enough time to ensure it isn't a total snooze-fest

[2017-05-03 04:14] HashNotAdam commented on #68
@tcn33 can you let me know how long you'd like this?

[2017-05-03 04:19] tcn33 commented on #68
@HashNotAdam let's say 20 min?

[2017-05-03 23:11] ponny commented on #56
Slides: https://bit.ly/quitrmr

[2017-05-03 23:11] #56 closed

[2017-05-04 03:36] fbvilela commented on #67
Thanks @elle . I have recorded and edited your talk. It's live!!
https://www.youtube.com/watch?v=9J2nvU36vpE&feature=youtu.be

if, for any reason, you don't want this to be live, just let me know.
if you're happy, would be good if you could send the link to the whole rails-oceania folks :)

Thanks,
Fab

[2017-05-04 06:27] radar commented on #56
@fbvilela @ponny wants to know if his talk was recorded too. He said to me:

I'm sure he can confirm by commenting on here too.

[2017-05-04 06:41] fbvilela commented on #56
Hi @ponny,

Your talk was recorded and it was great! I just didn't edit it...  (yet)
I'll go ahead and post the link in here. hold on tight. Then you can send it to the whole rails-oceania list

[2017-05-04 07:20] fbvilela commented on #56
here @ponny

https://youtu.be/jSJD2He23-U it's live!

[2017-05-05 01:50] ponny commented on #56
@fbvilela Looks and sounds really good.  Great work.

[2017-05-06 04:40] tcn33 commented on #67
Thanks @elle, great talk!

[2017-05-06 04:40] #67 closed

[2017-05-06 04:42] tcn33 commented on #64
@MelissaKaulfuss this is scheduled for May 31st - are you still ok to present then?

[2017-05-06 04:44] tcn33 commented on #62
@anicholson are you still ok to present this on May 31st?

[2017-05-06 23:00] simonhildebrandt commented on #52
Wait... I never actually gave this one, did I? I did Restroom?

[2017-05-07 00:55] tcn33 commented on #52
I thought you did this one a few months before Restroom... or am I confusing this with something else? You did the lightning talk in November that (I think) covered Restroom a little, then I thought you did Swagger in Jan or Feb. No?

[2017-05-07 07:38] quamen commented on #52
I think you did restroom, twice. I don't remember a talk on swagger at all.

[2017-05-07 08:23] tcn33 commented on #52
I stand corrected then :)

[2017-05-07 09:24] simonhildebrandt commented on #52
Goodness, I repeated myself? That's embarrassing... OK, well a Swagger one still makes sense then...

[2017-05-08 01:59] anicholson commented on #62
@tcn33 should be! Better start writing it :P

[2017-05-10 01:11] MelissaKaulfuss commented on #64
@tcn33 no, I'm afraid I won't have time, I have 2 talks to give this month and will need to write them sorry. Can I request this be delayed? Sorry.

[2017-05-10 01:32] tcn33 commented on #64
@melissakaulfuss No problem. July maybe?

[2017-05-10 01:36] tcn33 commented on #52
@simonhildebrandt Want to do this one May 31st?

[2017-05-10 02:43] simonhildebrandt commented on #52
Sure, sounds good.

[2017-05-10 02:54] #57 closed

[2017-05-10 03:37] MelissaKaulfuss commented on #64
Yeah sounds good!! Lock it in @tcn33 🔒

[2017-05-15 05:54] Zemmiph0bia commented on #65
I would really love to see this, great introduction to secure coding practices.

[2017-05-15 06:00] tcn33 commented on #65
@ranunculaceae would you be available to do this one on June 28?

[2017-05-21 02:20] michaeldawson opened #71 "The biggest cause of bugs in your application: `git commit`"
Every line of poor quality code, every late-night screw-up, every bug that brought down production... can usually be traced back to one command: `git commit` (that is, unless you don't use git 😃)

How can we use git to reduce the number of bugs that make it into our applications? Covering interactive staging, commit structuring, fixup commits, git hooks and pull requests, this talk is for develope

[2017-05-21 05:05] tcn33 commented on #71
@michaeldawson looks great :) are you able to do this one at the June meetup?

[2017-05-22 01:16] michaeldawson commented on #71
Sure! Would love to :)

[2017-05-25 04:01] elle opened #72 "How to pair-program effectively"
- either with peers or more importantly with juniors
- will go over:
  - the psychology of what both sides might think or feel when we pair (mindset and language used, empathy, guidelines about asking questions)
  - the etiquette of pairing (i.e. no keyboard hogging, no social surfing)
  - how to pair without exhausting yourself
  - ideal desk set up for pairing (lowest denominator of text editor)

[2017-05-29 02:39] anicholson commented on #62
@quamen / @tcn33 I'm _really_ sorry to do this, but I got home from holidays on Sunday to find that I'd been broken into and my laptop was pinched. My backups don't go quite far forward enough, so I'll have to postpone :(

[2017-05-29 06:12] tcn33 commented on #62
@anicholson no drama! This is why we have backups :)

[2017-05-29 06:15] tcn33 commented on #71
@michaeldawson we have had a cancellation - if you're able to do this on short notice we'd love to have you present it on the 31st 🤞

[2017-05-29 06:15] tcn33 commented on #52
@simonhildebrandt just confirming we're still good for this Wednesday?

[2017-05-29 06:16] tcn33 commented on #68
@HashNotAdam just confirming we're still good for this Wednesday?

[2017-05-29 06:17] tcn33 commented on #72
Hey @elle - looks great! How long are you thinking for this one?

[2017-05-29 06:50] elle commented on #72
@tcn33 15-20 minutes

[2017-05-29 07:07] simonhildebrandt commented on #52
Totes - have already done practice runs for my cow-orkers. :)

[2017-05-29 10:08] HashNotAdam commented on #68
@tcn33 I'm all good to go

[2017-05-30 06:00] michaeldawson commented on #71
Sorry for the late reply - I could do that, would be a bit of a stretch, but if you still need me, let me know and lock it in 👍

[2017-05-30 06:12] radar commented on #71
I think we're good now, thanks though :) we'll put you down for June?

[2017-05-30 08:29] michaeldawson commented on #71
Ok, nice! Yep, let's aim for June.

[2017-05-31 00:00] drej2k opened #73 "Place Month tag on talks in github to show month when they will be presented at RubyMelb"
Thanks for publishing the talks that are occurring at tonights RubyMelb on meetup.com
I was about to ask if this can be done :smile:

Additionally, could we place a month tag, against the github issue, on each proposed talk?
I would find this useful so that I could see the planned talks for the coming months.
Might also set a convention so that future talk proposals specify a month for their talk,

[2017-05-31 00:05] drej2k commented on #73
I see that some talks have a month allocated but most do not...
Also I find the current date allocation difficult to read, not easy to scan for.

[2017-05-31 07:03] tcn33 commented on #73
@drej2k at the moment we're using milestones for month allocation. This lets us see at a glance how many talks we have allocated for each month.
<img width="994" alt="screen shot 2017-05-31 at 5 01 01 pm" src="https://cloud.githubusercontent.com/assets/7378906/26619667/c29a8e86-4622-11e7-8310-7f5866209f11.png">
It shouldn't be relied on though as talks for each month aren't finalised until (at mos

[2017-05-31 22:44] tomjadams opened #74 "GraphQL for fun and profit"
There's a lot of interest in GraphQL, from people with all sorts of language backgrounds. I gave this talk in Sydney at APIDays (https://www.infoq.com/presentations/graphql-intro), and would be keen to do it again for a local audience.

I've found that when I've given this talk most of the good stuff comes from questions. You can dig right into the queries and show people how things work, try diff

[2017-06-01 01:11] tcn33 commented on #74
@tomjadams we'd love to have you do this on June 28th, if you're available.

[2017-06-01 01:12] tcn33 commented on #72
@elle are you available to do this talk at the next meet up? (June 28th)

[2017-06-01 01:13] elle commented on #72
@tcn33 sorry, no can do. Meet up after that??

[2017-06-01 01:24] davich commented on #74
Do it @tomjadams ! 👍

[2017-06-01 05:15] fbvilela commented on #68
@HashNotAdam https://youtu.be/_S3mAnfGqGQ it's live!
share around!

[2017-06-01 05:23] simonhildebrandt commented on #68
Cool! Do we have one coming for my presentation too?

[2017-06-01 05:25] fbvilela commented on #68
off course @simonhildebrandt , I'm editing it at this exact moment... uploading Lauren's now...
will paste your link in your github issue.

[2017-06-01 05:26] simonhildebrandt commented on #68
Awesome, thanls @fbvilela . :) (Didn't know I was being filmed. :D )

[2017-06-01 05:35] HashNotAdam commented on #68
Thanks for all your work, @fbvilela

@simonhildebrandt, stop being so vain; if you're so eager to look at yourself, find a mirror 😆

[2017-06-01 05:37] simonhildebrandt commented on #68
LOL - I'm not satisfied with the editing of Lauren's talk - you can barely hear me at all. :D

[2017-06-01 05:39] HashNotAdam commented on #68
Opens new issue: ensure @simonhildebrandt is microphoned at all times.

[2017-06-01 05:59] fbvilela commented on #68
That's why we ask to repeat the question on the mic...
But I will ask IT if we can have the spare mic going around for the questions ;)

it's a valid point hehehe

[2017-06-01 06:15] fbvilela commented on #52
@simonhildebrandt the video is up https://youtu.be/-agspVmHrKg
good work!!

[2017-06-01 06:19] fbvilela commented on #52
@tcn33 Feel like sending an email to the list?

Ruby meetup 31/05/2017 - All the 3 talks are now on Youtube
https://www.youtube.com/watch?v=_S3mAnfGqGQ
https://www.youtube.com/watch?v=wAMryNKuSIY
https://www.youtube.com/watch?v=-agspVmHrKg

[2017-06-01 06:21] tcn33 commented on #52
Can do :)

On Thu, Jun 1, 2017 at 4:19 PM, Fabio Vilela <notifications@github.com> wrote:
@tcn33 [https://github.com/tcn33] Feel like sending an email to the list?

Ruby meetup 31/05/2017 - All the 3 talks are now on Youtube
https://www.youtube.com/watch?v=_S3mAnfGqGQ [https://www.youtube.com/watch?v=_S3mAnfGqGQ]
https://www.youtube.com/watch?v=wAMryNKuSIY [https://www.youtube.com/watch?v=wAMryNKu

[2017-06-01 07:49] HashNotAdam commented on #68
Really glad I listened to that recording; it became clear why you need to repeat the questions as well as the need to not turn away from the mic.

[2017-06-01 10:39] tomjadams commented on #74
I can make that @tcn33.

Thanks for adding the tags too, I didn't seem to be able to!

[2017-06-01 11:50] antulik opened #75 "Meta presentation"
In this talk I will share hints how to do amazing presentation slides with code in keynote. The presentation will be around 10 minutes.

[2017-06-02 02:32] antulik opened #76 "Rails with sugar"
In this presentation I'll talk about a successful experience of structuring business logic in Rails application and adopting "skinny Controller and skinny Model" approach.

I will also talk about the project itself where that architecture was used. It is a realtime bus tracking application built on Rails.

[2017-06-02 02:48] compactcode opened #77 "My favourite command line tools"
I'd like do a talk about three of my favourite command line tools (`ripgrep`,`fzf` & `fasd`).

My plan is to introduce the unix philosophy of single purpose, modular programs and then show how we can apply that philosophy to combine these three tools in interesting ways to:

Find projects
Find files
Find directories
Search files
Find git branches

The talk would be aimed at the junior/intermediate

[2017-06-02 03:45] tcn33 commented on #68
Great talk Adam, thanks for doing it!

[2017-06-02 03:45] #68 closed

[2017-06-02 03:45] tcn33 commented on #52
Thanks @simonhildebrandt :D

[2017-06-02 03:45] #52 closed

[2017-06-02 03:47] tcn33 commented on #75
@antulik want to do this one for June 28th? :)

[2017-06-02 04:54] antulik commented on #75
yes, sounds good

[2017-06-08 07:34] colby-swandale opened #78 "How Does Bundle install Work?"
Bundler is part of every ruby developers workflow but have you ever wondered how Bundler takes your Gemfile and figures out exactly what version of your dependencies and their dependencies you need? How Bundler knows which of your gems are hosted where.

I want to give a 30 min talk that will explain the major concepts of how Bundler works, things like the Index, dependency API,  RubyGems.org, Ver

[2017-06-09 01:12] tcn33 commented on #78
Hey @colby-swandale sounds great! Is it ready to go for June or July, or do you need some time?

[2017-06-09 01:16] colby-swandale commented on #78
I'm good with July if that's open

[2017-06-09 03:22] jayzz55 opened #79 "Functional affairs in Ruby"
Recently, there has been a buzz about FP (Functional Programming), and there has been a lot of Rubyist start exploring FP languages like Elixir, Clojure, Scala, and Haskell.

In this talk, I'd like to present about what's the buzz with FP, Why we care about FP, and ultimately how do we apply this FP Concept back in our day to day code as a Rubyist.

This talk will be in 2 parts:
* **Part 1** will

[2017-06-12 22:32] radar commented on #79
Hey @jayzz55, this sounds like a great idea for a talk. Would it be possible for you to make it 20-30 minutes though? 40 minutes seems a bit long for an evening talk and you might struggle to maintain people's attention for that long.

[2017-06-13 04:07] jayzz55 commented on #79
@radar I'm just concerned that cutting it to 20-30 minutes will leave people puzzled and confused when I go through Dry Transaction and Dry Monads without properly explain the basic block of using Ruby to do FP stuff.

[2017-06-13 06:03] radar commented on #79
@jayzz55 Consider making it two talks then. Think of them as "part 1" and "part 2"?

[2017-06-14 02:46] joneslee85 commented on #69
@tcn33 sorry for late reply, this talk would be best on July. I will re-open the issue next month.

[2017-06-14 02:46] #69 closed

[2017-06-20 03:18] tcn33 commented on #71
@michaeldawson just confirming you're still ok for June 28?

[2017-06-20 03:18] tcn33 commented on #74
@tomjadams just confirming you're still ok for June 28?

[2017-06-20 03:18] tcn33 commented on #75
@antulik still ok for June 28?

[2017-06-20 03:20] tcn33 commented on #77
@compactcode thanks for submitting this :) Is this talk ready now or do you need some prep time?

[2017-06-20 03:30] compactcode commented on #77
@tcn33 need a bit of prep time :)

[2017-06-20 03:42] michaeldawson commented on #71
@tcn33 Yep, I'll be there.

[2017-06-22 00:39] antulik commented on #75
Yes

[2017-06-23 06:35] tomjadams commented on #74
@tcn33 Yep, but I'll need to bring my kids, will that be a problem?

[2017-06-23 08:41] tcn33 commented on #74
No problem at all.

[2017-06-26 10:33] michaeldawson commented on #71
So this talk could push 30 minutes if time allowed for that. Is there any flexibility there?

[2017-06-27 05:58] tcn33 commented on #71
@michaeldawson yep, we'll have you go first and whip through the intro stuff so you get going as early as possible :)

[2017-06-27 14:46] jayzz55 commented on #79
@radar Good Idea 👍

I'll see if I can cut my talk to max 30 minutes, if that's not possible, then I'll do part 1 and part 2 instead.

[2017-06-28 11:25] #77 closed

[2017-07-03 01:31] fbvilela commented on #74
Talk is live https://youtu.be/Tub3XMumQvA
thanks @tomjadams ! it was awesome! Say hello to Filippo ;)

[2017-07-03 01:32] fbvilela commented on #75
@antulik it's live https://youtu.be/UEqm8lAaF8s
it was awesome! thanks for that!

[2017-07-03 01:33] fbvilela commented on #71
@michaeldawson the talk is live https://youtu.be/JSfjV6-IAjQ
nice work!! loved it!

[2017-07-14 23:58] tcn33 commented on #78
@colby-swandale still good for July 26th?

[2017-07-15 00:00] tcn33 commented on #75
Thanks @antulik - great talk!

[2017-07-15 00:00] #75 closed

[2017-07-15 00:01] tcn33 commented on #74
Thanks @tomjadams, really enjoyed it!

[2017-07-15 00:01] #74 closed

[2017-07-15 00:03] tcn33 commented on #71
Thanks @michaeldawson - I learned a lot :)

[2017-07-15 00:03] #71 closed

[2017-07-15 00:04] tcn33 commented on #72
@elle just wanted to check if July 26th is still ok for this talk?

[2017-07-15 00:05] tcn33 commented on #64
@MelissaKaulfuss did you get a chance to put this together? Or did you have another you'd like to do?

[2017-07-15 00:08] tcn33 commented on #79
@jayzz55 when would you like to do Part 1? At this point I can put you down for August 30th (and/or as a backup for July 26th)

[2017-07-15 02:38] elle commented on #72
@tcn33 yes, it is

[2017-07-15 02:42] colby-swandale commented on #78
Yep

[2017-07-15 04:14] MelissaKaulfuss commented on #64
Hiya

Nope,  Might close this issue. Too much going on right now :(

[2017-07-17 12:44] colby-swandale commented on #78
Hey @tcn33, sadly i can no longer attend next week, i need to duck off to wagga wagga but i can book August if available. Sorry! 🙇

[2017-07-17 23:47] tcn33 commented on #78
No drama, will move you across to August. Cheers :)

[2017-07-17 23:49] tcn33 commented on #65
@ranunculaceae if you're available we'd love to have this one for July 26th :)

[2017-07-21 07:32] jayzz55 commented on #79
@tcn33 I can do Part 1 for August 30th.

[2017-07-26 02:14] ridget opened #80 "Your story matters."
Hi :)

As a co-organiser of the Brisbane Ruby Meetup, one of the things I often hear is "I don't have anything interesting to say" when I'm looking for talks for the month.

I want to dive in and challenge that idea by identifying what it is about stories that are important to us, why your story matters and why you should tell it at the next Meetup.

This talk will be looking at:
* Identifying wha

[2017-07-26 02:16] tcn33 commented on #80
@ridget awesome! How long do you think your talk will go?

[2017-07-26 02:17] ridget commented on #80
@tcn33 would 20-30min be ok? Happy to work to your schedule

[2017-08-07 07:34] simonhildebrandt commented on #70
Firebase has no offline development option, pushing me towards other options - when I've nailed an alternative down I'll raise it as an alternative approach.

[2017-08-07 07:34] #70 closed

[2017-08-10 22:59] tcn33 commented on #78
@colby-swandale still on for August 30th?

[2017-08-10 23:00] tcn33 commented on #79
@jayzz55 still on for August 30th?

[2017-08-10 23:00] tcn33 commented on #80
@ridget still on for August 30th?

[2017-08-10 23:09] colby-swandale commented on #78
yep! no last minute trips either this time 👍

[2017-08-11 00:24] ridget commented on #80
@tcn33 absolutely :)

[2017-08-11 01:17] jayzz55 commented on #79
Yes Toby, I'm good for 30th august

On 11 Aug. 2017 9:00 am, "Toby Nieboer" <notifications@github.com> wrote:

[2017-08-13 10:12] tcn33 commented on #72
@fbvilela just wanted to check if recording went ok for July's talks?

[2017-08-14 00:00] fbvilela commented on #72
@tcn33 .... sad news. the next day when I asked for the recording, IT told me that the files were not there. We ran a couple of tests and it all went OK. I did nothing wrong, but we ended up with no recordings :(

We ran the Melbjs meetup where I was also the one to record and everything went OK.
so yeah, we try again next time

[2017-08-14 00:21] tcn33 commented on #72
Oh, that’s a shame. Next time :)

[2017-08-14 00:21] #72 closed

[2017-08-28 00:33] elle opened #81 "Composition over Inheritance"
In class-based object-oriented systems, composition and inheritance are
the two primary methods of reusing and assembling components
(without also considering mixins).

I would like to:

- review the costs and benefits of using both approaches.
- introduce mixins (Rails concerns)
- look at a simple example to illustrate each approach
- provide advise on which to choose when

[2017-09-06 06:31] tcn33 commented on #80
@fbvilela how did the recording go? 🤞

[2017-09-06 06:32] fbvilela commented on #80
@tcn33 great!!! I'm going to edit them soon

[2017-09-08 00:16] fbvilela commented on #80
@tcn33 @ridget https://youtu.be/nChKjkG2NDw !!!!

[2017-09-08 00:51] fbvilela commented on #79
@tcn33 @jayzz55 https://youtu.be/TMCzv1fJ8yU !!
Tobi, see how good is to have to other mics for questions! This is the first time the new setup works.

[2017-09-09 17:09] jayzz55 commented on #79
@fbvilela Thank you for uploading this. the video and audio editing is great! 👍

[2017-09-12 01:25] tcn33 commented on #79
Thanks everyone!

[2017-09-12 01:25] #79 closed

[2017-09-12 01:26] tcn33 commented on #80
Thanks @ridget, such a pleasure to have you in Melbourne :)

[2017-09-12 01:26] #80 closed

[2017-09-12 01:27] tcn33 commented on #78
Thanks Colby!

[2017-09-12 01:27] #78 closed

[2017-09-12 01:28] tcn33 commented on #62
@anicholson still interested in doing this one? How about October?

[2017-09-12 01:29] tcn33 commented on #81
@elle looks good! How about October?

[2017-09-12 08:22] jayzz55 opened #82 "Functional affairs in ruby part 2"
Recently, there has been a buzz about FP (Functional Programming), and there has been a lot of Rubyist start exploring FP languages like Elixir, Clojure, Scala, and Haskell.

In this talk, I'd like to present about what's the buzz with FP, Why we care about FP, and ultimately how do we apply this FP Concept back in our day to day code as a Rubyist.

This is the part 2 of the talk given in Ruby mee

[2017-09-14 01:20] elle commented on #81
If the meet up is on the last week of October, I'll be out of country. So could do November, if that's ok?

[2017-09-14 09:20] anicholson commented on #62
@tcn33 I could – what day would that be?

[2017-09-23 01:58] antulik opened #83 "Lighting talk: Gold rush"
A quick talk about why programming languages loose popularity and get bad reputation after a golden period. While there is no solid single reason, the presented theory holds strong.

It's a good topic for a further discussion.
Talk time is 10 minutes

[2017-09-24 07:40] #83 closed

[2017-10-03 23:50] crunchysoul opened #84 "A Programmer's guide to Van life"
**this is not a tech orientated talk**
**content is subject to change**

### Plan:
- share my experiences as a programmer who live in a camper van
- why conjunction of programmer and van dweller implies awesome
- the challenges, how to tackle them
- get started quick guide to Pro*Van life, where * = grammer

**Please feel free to comment, and/or chat with me, thank you.**

@crunchysoul

[2017-10-05 09:56] elle opened #85 "Rails anti-patterns"
Learn about code smells that are more Rails-specific and their solutions. For example:
- Fat models
- Spaghetti SQL
- Callbacks
- Convoluted views
- Fat Controllers
- Monolithic controllers
- Sluggish services
- Failure to respond

[2017-10-06 00:36] davich commented on #84
I'd be super keen to hear this talk!

[2017-10-11 05:21] radar commented on #84
Hey @crunchysoul do you want to do this talk for our October meet? That’ll be on the 25th of this month.

[2017-10-11 05:22] radar commented on #85
Hey @elle, do you want to give this talk at October’s meet?

[2017-10-11 05:34] elle commented on #85
Hey @radar no can do. Am away for conferences then. Can do November though...

[2017-10-11 07:59] crunchysoul commented on #84
Hey Ryan,

I love to prepare for the talk, thank you for your invitation, let me know any criteria that I should follow or just general rules for the talk, cheers.

Chen @crunchysoul

[2017-10-14 23:12] radar commented on #84
No particular criteria. Just try to keep it to under 20-25 minutes.

[2017-10-15 00:50] radar commented on #85
No worries I will put you down for November

[2017-10-15 00:51] #73 closed

[2017-10-16 03:43] radar opened #86 "Designing the perfect coding test"
When interviewing candidates for a programming job a meet & greet doesn't cut it: we need to evaluate their coding ability too. But then what coding test should you give a candidate? Scrabble? The Game of Life? The Toy Robot? Calculating if a word is an anagram of another word? Are we even testing on the right things?

I'd love to give a talk on how I designed a coding test from scratch at Culture

[2017-10-16 03:57] fbvilela commented on #86
Sounds great! 👍
can't wait!

[2017-10-19 11:52] drej2k opened #87 "Story telling for your codebase with Git, Git Flow & Advanced Git"
### Hello
The high level aim of this talk is to share my experience as a starting point but learn from each other by creating a discussion so we can share all of our experiences collectively.
(Yes a talk is usually a one way street, and some it will be, but I will try my best get some discussion happening 😄 )

### The Talk
I would like to talk about three main points:
1. Story telling: How Git can

[2017-10-19 23:13] MelissaKaulfuss opened #88 "regex in ruby"
A deep or shallow dive into the ruby's Regexp class.
- How lazy vs greedy regex's work under the hood
- A few fun features to help you use regex effectively.

Aimed at beginners.

[2017-10-19 23:16] apalski opened #89 "Exploring Enumerable Magic"
Learn more about Ruby enumerables:
* why we use enumerables
* return values
* Boolean and search enumerables
* A look at some of the lesser used enumerables

[2017-10-19 23:39] jayzz55 commented on #87
Sounds like an amazing talk, looking forward to this talk! :)

[2017-10-22 22:10] thrgamon opened #90 "Dyslexia and Development"
- What is dyslexia?
- How does it affect programming?
- Why Dyslexics can make excellent programmers.
- A few tips if you are dyslexic.
- A few tips you work with a dyslexic.

[2017-10-22 23:20] radar commented on #84
@crunchysoul Just checking: are you ready (or almost ready) to give this talk on Wednesday?

[2017-10-25 00:01] crunchysoul commented on #84
Dear Ryan & Ruby community,

I’m extremely sorry for this delayed response.

My talk has already been prepared, but unfortunately I have been sick and laying in bed for past three days due to the flu.

It seems unrealistic for me to attend tonight's meetup and share the talk, as:

	1. may spread flu to other Rubyists;
	2. compromise quality of talk;
	3. less ideal physical condition;

May I apply

[2017-10-25 01:06] radar commented on #84
No worries @crunchysoul! We'll bump you to November. I'll do my coding test talk tonight :)

[2017-10-27 02:05] drej2k commented on #86
hey @radar @fbvilela, I unfortunately missed rubyMelbourne on Wednesday. Was the talk recorded? :smile:

[2017-10-27 02:28] radar commented on #86
Yes I believe it was. @fbvilela will know for sure.

[2017-10-27 02:38] fbvilela commented on #86
Yes @drej2k @radar . The talks were recorded and got lots of praise.
I should edit them and paste their link in here.

[2017-10-27 02:55] drej2k commented on #86
Great, thanks gents :smile:

[2017-10-30 23:41] fbvilela commented on #86
@radar @drej2k @tcn33
here's the first one https://youtu.be/DiYjDHKSH-Q

[2017-10-31 00:21] fbvilela commented on #90
@thrgamon @tcn33
here it is
https://youtu.be/MO3TJsQ_hQo

[2017-10-31 08:21] tcn33 commented on #90
@fbvilela thanks!

Did the ones from September 27th record ok?

[2017-11-15 08:55] tcn33 commented on #85
@elle just confirming you're still good for the 29th?

[2017-11-15 09:00] tcn33 commented on #84
@crunchysoul are you still ok to give this talk on the 29th?

[2017-11-15 09:01] #90 closed

[2017-11-15 09:01] #86 closed

[2017-11-15 09:02] tcn33 commented on #89
hey @apalski! Are you available to give this talk at November's meetup (the 29th)?

[2017-11-15 09:49] tcn33 commented on #88
@MelissaKaulfuss how long do you need?

[2017-11-15 10:08] MelissaKaulfuss commented on #88
20-25 minutes so I can add a tad more?
This one was 15 mins :)

Happy to stick to that limit?

[2017-11-15 22:07] apalski commented on #89
Hi Toby

I'm out for November I'm sorry, I will be on the high seas until
mid-December.

I'm happy for you to slate me in for the new year if that is ok.

Cheers Annette

On Wed, Nov 15, 2017 at 8:02 PM, Toby Nieboer <notifications@github.com>
wrote:

[2017-11-15 23:22] elle commented on #85
@tcn33 Yep

[2017-11-20 04:20] crunchysoul commented on #84
Dear Toby,

If the spot is still open, I would love to deliver the presentation, Cheers

Regards,
Chen @crunchysoul

[2017-12-06 22:45] Yogibeer2001 opened #91 "Cypress 101 - Testing in 2018"
Cypress what is it?
what can it do?
why should I bother?
opinionated view on a new cool toy.
talk from lightning talk up to 30min

[2017-12-06 22:59] tcn33 commented on #88
@fbvilela how'd the recording go?

[2017-12-06 23:02] fbvilela commented on #88
Hey @tcn33 it recorded alright. I didn't have time to edit it yet... but should be up in the next few days

[2017-12-06 23:54] tcn33 commented on #91
@Yogibeer2001 sounds good! Are you available to give this talk in January? (31/1)

[2017-12-06 23:55] tcn33 commented on #82
@jayzz55 are you available to do this talk in January? (31/1)

[2017-12-07 10:20] Yogibeer2001 commented on #91
Yes

[2017-12-26 21:44] sergio-weploy commented on #85
@elle Thanks for the talk!

I'm very interested in learning more about anti-patterns in Rails.

1. Can you recommend a good learning resource?
2. Is the "Rails anti-patterns" book by Chad Pytel still relevant today (Rails 5)?

[2017-12-28 05:12] fbvilela commented on #88
https://youtu.be/dU97L1Jrji8 The recording took a while. . sorry :p

[2017-12-28 05:19] fbvilela commented on #85
https://youtu.be/fU-mPNd-3AI

[2017-12-28 10:01] #85 closed

[2017-12-28 10:03] #88 closed

[2017-12-28 22:58] fbvilela commented on #84
https://youtu.be/TvY7LJ6l3Mo

[2017-12-29 01:29] #84 closed

[2018-01-08 07:29] philnash opened #92 "Smaller is always better"
Hello :wave: Just wanted to propose a talk for an upcoming meetup. What do you think?

---

Gzipping content has long been a best practice when serving text based files over the web. Turn on gzip compression in your web server, your users download smaller files quicker and everyone is happy, right?

That's what I thought as I went to tune my personal site over the holiday and I ended up writing 3

[2018-01-18 04:02] tcn33 commented on #92
@philnash looks great! How long are you thinking? Would you be available to do this talk on Feb 28?

[2018-01-18 04:03] tcn33 commented on #82
@jayzz55 I'd love to get this talk on the schedule. January or February perhaps?

[2018-01-18 04:03] tcn33 commented on #91
@Yogibeer2001 just confirming we're still good for 31/1?

[2018-01-18 04:04] tcn33 commented on #89
@apalski hey Annette! Just confirming we're still good for 31/1?

[2018-01-18 04:05] philnash commented on #92
I could totally do this on Feb 28th. How long are the meetup talks normally?

[2018-01-18 04:24] tcn33 commented on #92
20-30 minutes usually. (Shorter is good too as it will give more time for Q&A.)

We also may have a spot for January 31 if you're ready to go sooner.

[2018-01-18 04:45] philnash commented on #92
I am not available on the 31st I'm afraid.

I can aim for 20 minutes to give plenty of extra time. Will warn you if I feel like it needs more time though!

[2018-01-18 05:58] ranunculaceae commented on #65
Sorry I wasn't responsive I had a number of things going on and never got around to checking the submission again as I don't use Github. I'd still be happy to do this talk in the new year if you'd be interested.

[2018-01-18 10:30] Yogibeer2001 commented on #91
Yep all good and ready

[2018-01-18 22:05] apalski commented on #89
@tcn33 Hi Toby, yes I'm good for that :)

[2018-01-19 05:00] tcn33 commented on #65
@ranunculaceae How's 31/1?

[2018-01-19 12:35] jayzz55 commented on #82
@tcn33 Hi Toby, apology for the late response.

I can do February if that's good for you.

[2018-01-22 00:16] ranunculaceae commented on #65
I am currently putting together training for a conference in late February so March onward may be better if that's okay.

[2018-02-01 23:16] JeremyKirkham opened #93 "GraphQL in Rails"
Willing to do a quick talk: How I'm using GraphQL to serve a performant API to multiple front-ends (Angular 4 and iOS)

- Basic concepts
  - Difference between Rest and Graphql
  - Schema
  - Types
  - Mutations
  - Connections
  - Interfaces

- Overcoming issues
  - Debugging with GraphIQL

- Testing with rSpec (if there's time)

[2018-02-02 04:29] pauloancheta commented on #64
I could give this talk if it's open.

I can also give:
- introduction to CloudFormation
- IAM roles
- brief explanation of differences in EC2's

Maybe if we have enough time I can expand to ELB and ASG as well.

[2018-02-02 04:38] pauloancheta opened #94 "Demystifying Git"
Would love to give a talk on understanding how to use Git using LEGOs as an analogy.

In this talk, I will explain rebasing branches, different branching strategies, interactive rebase, re-writing history and responsible use of `git push -f`.

[2018-02-02 06:19] tcn33 commented on #93
@JeremyKirkham sounds good! Reckon you can cover that in 20 minutes?

[2018-02-02 06:21] tcn33 commented on #94
@pauloancheta sounds great! How's March 28th?

[2018-02-02 06:24] pauloancheta commented on #94
Do you have an earlier spot? Ill be in Bali at that time

[2018-02-03 00:04] JeremyKirkham commented on #93
Yeah I’ll scope it to 15 minutes plus time for questions. March 28th is good.

[2018-02-03 10:10] Rhiana opened #95 "Presenting SVG graphs"
Recently I wrote a Ruby presenter class that generated and SVG graph. I hadn't done that before and learnt a lot along the way so wanted to share the process.
This would be 20-30mins I think and at a fairly beginner to mid level.

For more details here is a blog post I wrote about it: [Presenting SVG graphs](https://reinteractive.com/posts/349-presenting-svg-graphs)

[2018-02-07 02:51] tcn33 commented on #95
@Rhiana sounds good! How's March 28th?

[2018-02-07 03:19] Rhiana commented on #95
Can do, thanks @tcn33

[2018-02-28 06:41] StaphSynth commented on #95
Awesome!

[2018-03-01 05:16] HashNotAdam opened #96 "Putting your classes on a diet"
Early in the lifecycle of a developer, it is common to fill out methods with every step needed to achieve a task leading to fat methods that are difficult to read, difficult to test, and near impossible to debug.

I plan to publicly shame myself by exposing a fat, controller method from the first Ruby code I every wrote and consider a few of different ways it could be broken into small, testable m

[2018-03-01 07:48] radar opened #97 "Exploding Rails"
When Rails came out, it was revolutionary. There was an order to everything.

Code for your business logic or code that talks to the database obviously belongs in the model.

Code that presents data in either HTML or JSON formats obviously belongs in the view.

Any special (or complex) view logic goes into helpers.

The thing that ties all of this together is obviously the controller.

It was (and

[2018-03-01 07:49] radar commented on #97
I’m thinking of presenting this in April if there’s a slot. Also happy to wait and do it in May/June too.

[2018-03-09 00:02] Lewington-pitsos opened #98 "Web Scraping: How not to do it"
## Who even likes API's anyway?

They're almost always outdated and poorly maintained, and the Docs are only ever borderline legible *if* that. Most importantly though: *they never let you do anything cool*. It's all rate-limits and access restrictions. Phooey I say! If you really want to get your paws on all that sweet sweet data you've been eyeing down there's no better tool than the universal A

[2018-03-12 22:06] MelissaKaulfuss opened #99 "Intro to Docker"
10-15 minute talk.

Beginner-ish level talk just covering the basics of:

- what Virtual Machines are how they compare to Containers.
- Basics of Containers and Docker.

Doesn't go into the, how to get Docker up and running because I haven't really mastered that yet 😂

[2018-03-14 06:15] fbvilela commented on #92
Here we go
https://youtu.be/mmtwp8RPPAA

[2018-03-14 06:34] fbvilela commented on #87
https://youtu.be/7Zv3-h2AFKw

[2018-03-15 04:10] fbvilela commented on #82
https://youtu.be/OoXLy5tg9rw

[2018-03-18 23:59] HashNotAdam commented on #96
I guess this one will have to wait until I'm back from holiday. Just imagine how good it will be with 6 months to prepare 😆

[2018-03-18 23:59] #96 closed

[2018-03-19 12:57] Lewington-pitsos commented on #98
I have a rough draught of the presentation up and running [Here](https://github.com/Lewington-pitsos/web_scraping_presentation), but I was wondering: does anybody know when and/or how do we find out if and when we'll be presenting?

Cheers.

[2018-03-20 07:01] tcn33 commented on #96
@HashNotAdam sorry about that, we had three talks lined up for March already. Looking forward to it in September though 😂

[2018-03-20 07:03] tcn33 commented on #65
@ranunculaceae just confirming you're still good to present on March 28th.

Could you also provide some info so we can introduce you? :)

[2018-03-20 08:02] NamibiaLT commented on #65
Hi @ranunculaceae,I'll be subbing in for Toby next RORO, 28th of March 2018. I would love to give you a short introduction prior to your talk. Would you be able to provide a short bio that reflects your interest in the topic you are presenting and the name of your talk. Also, please let me know whether you will be bringing your computer to present your slides. We will have all the equipment necess

[2018-03-20 08:04] NamibiaLT commented on #93
Hi @JeremyKirkham , I'll be subbing in for Toby next RORO, 28th of March 2018. I would like to give you a short introduction prior to your talk. Would you be able to provide a short bio that reflects your interest in the topic you are presenting and the name of your talk. Also, please let me know whether you will be bringing your computer to present your slides. We will have all the equipment nece

[2018-03-20 09:05] HashNotAdam commented on #96
That's cool @tcn33, I only submitted it because you told me there was room but I still love you 😉
I'm quite certain is it a topic that won't age in the next 6 months. 👍

[2018-03-20 23:09] #82 closed

[2018-03-20 23:09] #92 closed

[2018-03-20 23:09] #87 closed

[2018-03-20 23:10] #89 closed

[2018-03-20 23:10] #91 closed

[2018-03-20 23:17] tcn33 commented on #98
@Lewington-pitsos how about April 25th? (Though I've just worked out that's Anzac Day so we're working out what that means for scheduling.)

[2018-03-21 03:06] JeremyKirkham commented on #93
@NamibiaLT I'll be bringing in my macbook with the preso loaded in google slides.

Name of presentation: GraphQL in Rails

Bio:
With over 8 years of web development experience, I'm currently the lead software engineer for Equiem, as well as founder of Active PD.

My role has me working on multiple code repositories and technology stacks, ranging from Drupal/PHP, Ruby on Rails with Angular 4, Cloju

[2018-03-21 04:28] mtcmorris opened #100 "High performance mario kart on ruby"
"We have a serious workplace with a serious problem - Mario Kart. We’ve employed Ruby to answer the important questions - just who is the best and is there any hope for justice in kart?"

## What

I gave a talk at [Rubyconf 2018](https://www.rubyconf.org.au/2018/speakers) about a system we've developed at Ferocia using Ruby (& Mario Kart).  Would love to give it to roromelb as many people couldn't

[2018-03-21 07:37] ranunculaceae commented on #65
Hey @tcn33 and @NamibiaLT I'm still good! :+1:

**A short bio/intro:**

Rebecca has been working in various roles in information security for the past two years, starting as an intern at Culture Amp in Melbourne, now working as an Information Security Consultant, re: hacker for the past year and a bit she has seen both sides of the coin. Tonight she will talk about some of the most common (and uns

[2018-03-21 08:32] Lewington-pitsos commented on #98
April 25th (or like days around then) sounds great, plenty of time to test everything properly.

[2018-03-21 09:45] Rhiana commented on #95
Hi @NamibiaLT
No worries, my slides will be online so either way. I generally bring my own laptop with a backup though just in case. Would a windows or mac machine be easier with the set up there?

In terms of bio/intro something like:

Today her talk is on another side of psychology, which is making graphs to show off all the data you just collected, but, thankfully, using Ruby on Rails. Here is

[2018-03-27 07:38] NamibiaLT commented on #65
Thanks @ranunculaceae! What is the name of your talk? I am making a slide for all of the speakers.

[2018-03-27 07:48] NamibiaLT commented on #95
Hi @Rhiana! Either type of computer should be fine. Backups are always a good idea though. Also, how do I pronounce your name? Please let me know when you see me tomorrow :-)

[2018-03-28 00:20] NamibiaLT commented on #65
Hi @ranunculaceae what is your talk called? Also, do you want me to put your last name on the slide or do you just go by Rebecca?

[2018-03-28 04:28] ranunculaceae commented on #65
Hey @NamibiaLT my talk is called "Dear web developers, a heartfelt plea from a security consultant" and Rebecca is perfect thanks

[2018-04-07 08:01] pauloancheta commented on #94
How much time do I have? Can I do 15min?

[2018-04-09 04:32] tcn33 commented on #94
@pauloancheta 15min with time for questions afterwards would be perfect.

[2018-04-09 04:33] tcn33 commented on #98
@Lewington-pitsos we've moved to April 24. Still good?

[2018-04-09 04:54] pauloancheta commented on #94
Yip, that's still ok. Thanks! :D

[2018-04-09 05:00] tcn33 commented on #100
@mtcmorris Yes please! How about May 30th?

[2018-04-09 05:00] tcn33 commented on #99
@MelissaKaulfuss May 30th?

[2018-04-09 06:04] Lewington-pitsos commented on #98
Yes most certainly is, cheers for the update.

[2018-04-09 22:59] MelissaKaulfuss commented on #99
Close to railscamp but sure, sounds fine @tcn33

[2018-04-09 23:00] tcn33 commented on #99
@MelissaKaulfuss I'll be your audience if you want to practice at camp 😋

[2018-04-09 23:08] mtcmorris commented on #100
🔒 it in

[2018-04-23 00:36] tian-im opened #101 "Wallaby - A very Rails admin interface"
15-20mins talk to introduce the gem https://github.com/reinteractive/wallaby

it's a topic for all level rails developers.

[2018-04-24 01:34] tcn33 commented on #101
@tian-im looks great! May 30th?

[2018-04-24 07:42] Lewington-pitsos commented on #98
Hey, just letting you know that ill be running a tad late, but ill still be there in time to present! Cheers.

[2018-04-25 12:43] Lewington-pitsos commented on #98
Hey ho, just confirming, is it still ok for me to do the presentation at next month's meetup? This time I'll test it on the laptop beforehand haha.

[2018-05-16 08:32] #94 closed

[2018-05-22 00:57] tcn33 commented on #101
@tian-im it's still 30 May :)

[2018-05-25 12:16] mtcmorris commented on #100
Yep yep.  I'll be there.  Will bring my setup too if that's ok 😬

[2018-05-26 00:53] tcn33 commented on #100
Absolutely. We'll have your talk up second during the pizza break so that you've got time to set up. Sound good?

[2018-05-26 00:56] tcn33 commented on #98
@lewington-pitsos ping!

[2018-05-26 01:27] Lewington-pitsos commented on #98
Shucks, sorry I swear I checked this like 3 days ago. Yes, we are ago on the presentation. AND it;s working on my laptop so unless there's no internet I'm good to go.

[2018-05-30 01:14] fbvilela commented on #93
https://youtu.be/XUTpE4k-K_0

[2018-05-30 01:32] fbvilela commented on #95
https://www.youtube.com/watch?v=dDrdH_0BKLc

[2018-05-30 01:41] fbvilela commented on #93
https://youtu.be/CA5feVQ3bJI

[2018-05-30 09:52] #93 closed

[2018-05-30 09:52] #95 closed

[2018-05-30 09:53] #97 closed

[2018-05-30 09:53] radar commented on #97
https://m.youtube.com/watch?v=04Kq_9scT1E

[2018-05-31 07:53] SelenaSmall opened #102 "Breaking builds & breaking bones"
Personal story about getting into tech late in a non-traditional fashion

[2018-06-01 03:04] radar commented on #102
Hey Selena, I think we talked on Wednesday about you talking in June. Are you still keen to do that?

[2018-06-01 03:11] SelenaSmall commented on #102
Hey Ryan!

Yes, I’m still keen to do it June. I’m pretty confident I’ll be ready by then but just in case, can we touch base in two weeks to see how I’m tracking?

Thanks
Selena Small

[2018-06-01 06:34] tcn33 commented on #81
@elle still want to do this one? June perhaps?

[2018-06-02 00:08] saramic opened #103 "VI everywhere - what's your super power"
As a malleable beginner programmer back in the 90's I took some advice to set my command line to vi mode `set -o vi`. As I continued through uni and onto my first job I couldn't touch type but when I was on the command line I was faster then most - I had a super power, every keystroke had the power of vi!

In this talk I explore

* common patterns for using vi on the command line
* vi everywhere:

[2018-06-22 06:42] tcn33 commented on #102
@SelenaSmall still good for next week?

[2018-06-22 06:44] tcn33 commented on #103
@saramic Still good for next week?

[2018-06-22 07:55] SelenaSmall commented on #102
Hey Toby!

Yes, I’m all organised 😃
Also mentioned to Ryan that I wouldn’t mind going first. The talk is around 30 minute but feedback so far is that it’s interesting... hope that’s going to be okay 👌

Selena Small

[2018-06-22 12:40] saramic commented on #103
Stressed but yeah all good will be ready

Cheers

Sent from my iPhone

[2018-07-02 00:13] fbvilela commented on #102
https://youtu.be/7bTXuIBhwGI

[2018-07-02 00:14] fbvilela commented on #103
https://youtu.be/l6dwu6cCfkM

[2018-07-02 05:01] #103 closed

[2018-07-02 05:01] #102 closed

[2018-07-17 23:52] tcn33 commented on #81
@elle are you available to do this one on July 25th?

[2018-07-17 23:52] tcn33 commented on #76
@antulik are you available to do this talk on July 25th?

[2018-07-17 23:54] tcn33 commented on #65
Thanks for the talk Rebecca!

[2018-07-17 23:56] #98 closed

[2018-07-17 23:56] #100 closed

[2018-07-18 01:11] philnash opened #104 "Fantastic passwords and where to find them"
The humble password is broken. The internet is littered with poor security practices and password breaches, but the world is not ready to go password free yet. So what can we do to protect our users?

Let's take a look at how we currently protect passwords, at what we can throw away from those processes and what we can bring in to strengthen our users' passwords. Together we can move the world fro

[2018-07-18 01:35] elle commented on #81
@tcn33 sure

[2018-07-18 02:48] tcn33 commented on #76
That works :)

[2018-07-18 02:48] tcn33 commented on #101
You did great!

Toby Nieboer | toby@automattic.com | +61 415 962 212
On Wed, Jul 18, 2018 at 10:23 AM, Tian Chen <notifications@github.com> wrote:
no worries. hopefully next time i will do better :P

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub [https://github.com/rails-oceania/melbourne-ruby/issues/101#issuecomment-405769544]

[2018-07-25 00:45] tristanpenman opened #105 "Building a Gem with native extensions"
There are many reasons you might want to write a Gem using native extensions, e.g:
* Performance - CPU heavy tasks, such as number crunching, can be written in C, to be many times faster than the equivalent Ruby code. For the daring among us, you can use multiple threads, GPUs, etc.
* Re-using existing code - whether it be legacy code that is essential to your business, or a third party library th

[2018-07-25 13:35] tcn33 commented on #105
@tristanpenman looks good! Two questions: how long do you see this talk running, and are you free August 29th? 😄

[2018-07-26 00:07] tristanpenman commented on #105
I can do the 29th!

This is the sequence of topics that I had in mind:
* Structure of a gem (3-5 mins)
* Extending Ruby using C, and how that works (10 mins)
* How to include that C code in a Gem (5 mins)
* Gotchas (3 mins)

So I would hope to have the planned content done in under 25 mins, leaving about 5 minutes for questions.

[2018-07-27 04:06] fbvilela commented on #81
https://youtu.be/QKkyq1UE9eU

[2018-07-27 04:21] fbvilela commented on #76
https://youtu.be/hHYTC5cPhms

[2018-08-03 08:25] tcn33 commented on #104
@philnash how's August looking?

[2018-08-03 20:50] elle opened #106 "Rails 5.1 system specs"
In Rails 5.1, a new kind of test was added, called system test. These tests wrap capybara and Rails to allow for a full stack testing experience from frontend javascript all the way down to your database.
Shall we find out what that means?

[2018-08-07 10:06] tomdalling opened #107 "What are blocks?"
Everyone who learns Ruby, at some point in their studies, asks: what are blocks? This is one of the most common questions asked by beginners.

This is a lightning talk, running at a little over 5 minutes, and is aimed at beginners.

## Outline

- Syntax
- Blocks are functions, just like methods
- Blocks can be converted into methods, and vice versa
- Blocks are different to methods, in that they a

[2018-08-08 03:12] SelenaSmall opened #108 "What is MVC?"

[2018-08-15 08:14] ZimbiX opened #109 "Applied event sourcing"
Event sourcing has been discussed a few times at Melbourne Ruby / Ruby Conf AU, but still I feel the specifics are not well known regarding how to actually go about it. There are not yet many tools to facilitate this, especially in Ruby.

I've been at GreenSync for 14 months as part of a small team producing [deX](https://dex.energy) (distributed energy exchange) using event sourcing. The core com

[2018-08-16 14:32] tigr5 commented on #108
MODEL VIEW CONTROLLER

[2018-08-19 07:16] philnash commented on #104
@tcn33 Yes, good. If you've got space in the line up then I'm in!

[2018-08-19 23:57] tcn33 commented on #104
@philnash actually could we push to September? Sorry :/

[2018-08-19 23:59] tcn33 commented on #109
@ZimbiX Looks good! Are you available to give this one in September?

[2018-08-20 00:06] philnash commented on #104
Will that be the 26th?

[2018-08-20 00:06] tcn33 commented on #104
Yes, sorry.

[2018-09-05 05:44] tcn33 commented on #104
@philnash double-checking, are you still available now that we've had to move RORO to Oct 3?

[2018-09-05 05:45] tcn33 commented on #109
@ZimbiX double-checking, are you still available now that we've had to move RORO to Oct 3?

[2018-09-05 06:08] philnash commented on #104
It appears that I am available. 👍

[2018-09-05 07:11] erinbelot opened #110 "Mind mapping for clarity"
Proposal
5 minute talk lightening talk
Beginners
September/October

Hi there!
I'd like to propose a talk based on mind mapping. I found for me having a place to visualise all the data has really pushed me further along in my programming. Having somewhere that forces you to collate all the concepts that you need to having a working knowledge of a subject, and then have that mapped out for you - it

[2018-09-05 08:01] ZimbiX commented on #109
Ah ok. Still good

[2018-09-11 05:16] saramic opened #111 "Multi layer outside in behavioural driven testing"
An opinionated perspective on how to BDD with RSpec from feature level "lifecycle flows" and "page mechanics", unit testing controllers and everything in between on a demo rails app with a customer facing SPA (Single Page App - in ReactJS or Ember).

Should have more info soon

Ready for November 2018 meetup

joint presentation @selenasmall (Selena Small) and @saramic (Michael Milewski)

[2018-09-19 09:00] tomdalling commented on #107
Done.

[2018-09-19 09:00] #107 closed

[2018-09-24 00:51] radar commented on #111
@saramic Sounds good. Want to do this one for the November meetup?

[2018-09-24 02:27] saramic commented on #111
@radar yep let's do it - @SelenaSmall and @saramic should be ready for November - I presume that is post rails camp 23-26 Nov ie on Wednesday 28th November - it will be longish ~30 - 40 mins

[2018-10-01 03:27] radar commented on #109
Just double-extra-special-checking: you're still available for this Wednesday night?

[2018-10-01 06:36] philnash commented on #104
Totally available and ready to go 👍

[2018-10-02 03:32] ZimbiX commented on #109
@radar indeed I am :D

[2018-10-06 22:55] saramic commented on #111
@radar all good for Halloween Wed 31 October let's do this!

[2018-10-22 22:52] tcn33 commented on #110
Hey @erinbelot, are you available to do this one on the 31st?

[2018-10-22 22:53] tcn33 commented on #106
hey @elle, are you available to give this talk on the 31st?

[2018-10-23 03:21] korobochek opened #112 "Testing Ruby Microservices - A War Story"
This is a talk about the Journey we have undertaken for testing Ruby (micro)services at REA. What we have tried, what worked, what did not work. It will cover pros and cons of the following levels of testing:
- unit tests in Ruby
- integration tests within a Ruby microservice
- integration tests between microservices
- pact tests
- synthetic transactions

In this talk I will outline what combinati

[2018-10-23 03:31] tcn33 commented on #105
@fbvilela how'd the video go for August's meetup?

[2018-10-23 03:31] korobochek commented on #112
@tcn Hehe - that was quick! I am thinking it would be no more that 30 mins long and I think that every level would benefit from it.

The idea is to provide a quick explanation of what each test category is and go into our experience with each of those. I am planning to have it fairly high level to convey the concepts and thinking behind choosing/changing test strategies rather than to dictate how

[2018-10-23 03:32] tcn33 commented on #109
@fbvilela and how about September/early October? 😁

[2018-10-23 03:35] tcn33 commented on #112
Sounds good! Looks like November 28th at this point, though we may have a slot open this month (the 31st) if you're good to go already.

[2018-10-23 03:41] fbvilela commented on #109
The talks are up :)

[2018-10-23 03:42] tcn33 commented on #107
https://www.youtube.com/watch?v=HR8iA4Hk1Ck

[2018-10-23 03:43] tcn33 commented on #108
https://www.youtube.com/watch?v=Pw_w5vO1ZWg

[2018-10-23 03:43] #108 closed

[2018-10-23 03:43] fbvilela commented on #105
Man, the August recordings didn't work... it didn't record :(

[2018-10-23 03:44] tcn33 commented on #105
https://www.youtube.com/watch?v=O9GjC5oh0o0

[2018-10-23 03:44] #105 closed

[2018-10-23 03:45] tcn33 commented on #109
https://www.youtube.com/watch?v=KOfG3BK2Ue8

[2018-10-23 03:45] #109 closed

[2018-10-23 03:45] tcn33 commented on #104
https://www.youtube.com/watch?v=fu8zxwr7kNk

[2018-10-23 03:45] #104 closed

[2018-10-23 03:49] tcn33 commented on #105
@fbvilela August looks fine from here, all good 👍

[2018-10-23 22:43] korobochek commented on #112
28th of November sounds great! :) I do not believe I would be ready by the 31st of October though.

[2018-10-26 06:18] erinbelot commented on #110
Hey @tcn33, I'm actually pretty chockers this week. Is it okay if I'm a part of the next one instead?

[2018-10-30 10:10] oheydrew opened #113 "Ruby Newbies: "Arguing With Ruby: A breakdown of Ruby Method Arguments""
## "Arguing with Ruby: A Breakdown of Ruby Method Arguments"

### The WhatWhereWhenHow

**When**: November (Ruby Newbies?)
**Length**: 5-10min (Lightning talk)
**Intended Audience**: Beginners, mostly
**Twitter Username**: [@oheydrew](http://www.twitter.com/oheydrew)
**Picture Link**: [dat me](http://www.oheydrew.me/avatar/avatar-drew_noll-10_18.png)

This will be my first talk, so I wanted to sco

[2018-11-01 01:58] fbvilela commented on #111
https://www.youtube.com/watch?v=p72EPNXbjiU&feature=youtu.be

[2018-11-01 03:48] #111 closed

[2018-11-01 03:49] tcn33 commented on #113
November! Yeah?

[2018-11-01 05:06] oheydrew commented on #113
Yeah! I hope I'm not the only one though! :joy:

[2018-11-13 05:05] tcn33 commented on #110
Hey @erinbelot could we move this one to January please? We're going to make that one all lightning talks, with an optional rehearsal night.

[2018-11-13 05:06] tcn33 commented on #113
Hey Drew,

Ruby Newbies is looking like January at the moment. Okay to move yours to there? That'll give us time to do one or more rehearsal nights.

[2018-11-13 05:08] tcn33 commented on #112
@korobochek Still good for 28/11?

[2018-11-13 05:20] lachie opened #114 "Know Thy App"
I'd like to give a talk about getting to know your app (ultimately via functional & load testing).
The main thrust is to encourage thinking of apps in global terms to promote an in-depth knowledge and intuition of all the parts of apps (code and stack) by using different tools to explore it.

What is the goal of your app? Business & tech goals.
Especially as a newly minted junior, how do you get t

[2018-11-13 10:44] oheydrew commented on #113
Awesome. Yeah, that's fine. I'll see if I can have it ready by railscamp, maybe I can do a practice run then. Or maybe it will become my railscamp project 😂

[2018-11-13 22:59] korobochek commented on #112
Yep, still good :)
On Tue, 13 Nov 2018 at 4:08 pm, Toby Nieboer <notifications@github.com>
wrote:

[2018-11-18 09:34] davich opened #115 "Refactoring in Ruby - Or how I learned to love pure functions"
After 15 years of professional coding, I realise that refactoring is one of the most important skills.

This is a beginner to intermediate level talk about:
- Refactoring your ruby code into small, single purpose methods.
- Using tests as a safety net
- When and how to split out a new class
- Using pure functions for ease of testing and maintainability

Hoping to do this early next year. Thanks

[2018-11-18 20:07] tcn33 commented on #115
Nice! We're doing Ruby Newbies in Jan, so how's Feb?

[2018-11-18 20:48] davich commented on #115
Perfect! Thanks Toby!

[2018-11-26 22:19] radar opened #116 "Ruby Magic Tricks"
Sleight of hand is an acquired skill. Making people believe certain things are true when they're not, is easy to do in the physical world. I'm a shitty physical world magician, but a real code magician.

I will bend the laws of mathematics, make things seem true when they shouldn't be, bring JavaScript-style (aka the right way) sorting to Ruby, and much more!

[2018-11-26 23:02] tcn33 commented on #116
How long?

[2018-11-26 23:05] tcn33 opened #117 "Remote Working - Why You Should (Or Shouldn't) Embrace It"
Good software engineers can be found anywhere, and embracing remote working enables you to tap into that global pool. But just because you *can*... does that mean you *should*? In this talk I'll go through some dos and don'ts, talk about some pitfalls, and hopefully guide you towards doing remote the right way.

[2018-11-26 23:10] radar commented on #116
15-20 minutes.

[2018-12-03 03:32] VanessaNimmo opened #118 "Ruby Newbies: Unpacking Rails Helper Magic"
# Ruby Newbies: Unpacking Rails Helper Magic

*Length:* Lightning talk - 5-10 mins

*Intended Audience:* Beginners

*Twitter Username:* [@nessnimmo](@nessnimmo)

**Details**

Rails Magic is pretty magical, but what happens when you need to pull back the curtain and find out what's underneath? In this talk, I'll follow the Ruby path from several of my confusingly-broken-Rails-project moments to inv

[2018-12-13 22:54] tcn33 commented on #114
@fbvilela How did the video turn out from November?

[2018-12-18 06:33] fbvilela commented on #114
here we go :) https://youtu.be/z0pfFSNIVJc

[2018-12-18 07:30] tcn33 commented on #114
@fbvilela thank you!

[2018-12-18 07:30] #114 closed

[2018-12-18 07:31] tcn33 commented on #112
@fbvilela ty!

[2018-12-18 07:31] #112 closed

[2019-01-01 22:25] colquhounking opened #119 "Ruby Newbies: Knitting and TDD"
Length: Lightning talk - 5-10 mins

Intended Audience: Beginners

Twitter Username: @ceels

Details

How knitting shows us the importance (and some of the limitations) of TDD.

[2019-01-03 03:19] tcn33 commented on #113
Hey @oheydrew! Just wanted to check if you would you like to do a rehearsal, and if so when would be good for you?

[2019-01-03 03:20] tcn33 commented on #110
Hey @erinbelot! Just wanted to check if you would you like to do a rehearsal, and if so when would be good for you?

[2019-01-03 03:20] tcn33 commented on #118
Hey @VanessaNimmo! Just wanted to check if you would you like to do a rehearsal, and if so when would be good for you?

[2019-01-03 03:20] tcn33 commented on #119
Hey @colquhounking! Just wanted to check if you would you like to do a rehearsal, and if so when would be good for you?

[2019-01-03 05:47] VanessaNimmo commented on #118
Hi Toby! Yes please to a rehearsal - is the week before a good time? I'm free the previous Wednesday evening (and also most evenings).

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Toby Nieboer <notifications@github.com>
Sent: Thursday, 3 January 2019 2:20 PM
To: rails-oceania/melbourne-ruby
Cc: Vanessa Nimmo; Mention
Subject: Re: [rails-oceania/melbourne-rub

[2019-01-03 05:55] tcn33 commented on #118
Sounds good! I'm open to suggestions regarding venue - I don't have a co-working space to use this time around :/

[2019-01-03 07:17] colquhounking commented on #119
Hi @tcn33, any evening in the week leading up would work!

[2019-01-03 09:05] erinbelot commented on #110
Hey @tcn33! I had my appendix out a week or so back, so I'm not really up to heading into the city right now. But maybe we could do something over skype? Or in a week or so?

[2019-01-03 09:07] oheydrew commented on #113
Also, on the topic of the talk, how long do you think it should be? I was
aiming for 5 minutes for a super “lightning” talk, but I’m thinking it
might be more comfortable at 7 or even 10? Would it be awful it I tacked on
a few minutes?

I can write a compressed version, can any intro fluffiness, but I do like
the idea of a little setup and being able to pace it. :)

On January 3, 2019 at 7:26:33 P

[2019-01-03 09:45] oheydrew commented on #110
*stalks* Ow! Sounds painful. Get well soon @erinbelot !

[2019-01-03 09:59] tcn33 commented on #113
If everyone is comfortable with a group rehearsal night that would make things easy 😄 Perhaps @radar can hook us up with some space at CA?

Anywhere between 5 and 15 minutes is perfect.

[2019-01-03 10:00] tcn33 commented on #110
Ouch! Hope you feel better soon!

How about the week beforehand - around the 23rd?

[2019-01-03 10:38] erinbelot commented on #110
That perfect! Thank you :)

[2019-01-03 10:46] oheydrew commented on #113
👍 Nice. I'll probably go a little over 5 then :P

[2019-01-03 22:33] VanessaNimmo commented on #118
I've got a few ideas of who to ask - will let you know how I go!

[2019-01-07 23:37] VanessaNimmo commented on #118
Coder Academy are happy for me to book our classroom for us to practice in - what time suits? 6-7 the Wednesday before (Jan 23rd)?

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Toby Nieboer <notifications@github.com>
Sent: Thursday, 3 January 2019 2:20 PM
To: rails-oceania/melbourne-ruby
Cc: Vanessa Nimmo; Mention
Subject: Re: [rails-oceania/melbourne-ruby] R

[2019-01-08 02:52] tcn33 commented on #118
@VanessaNimmo I have a room booked at CultureAmp from 1pm to 2:50pm - if you can make that, great. Otherwise let's go for maybe 5-6 at Coder Academy?

[2019-01-08 05:43] VanessaNimmo commented on #118
Yep I can make that time. Thanks!

[2019-01-08 05:53] tcn33 commented on #119
@colquhounking are you able to make part/all of 1pm to 2:50pm on Wednesday Jan 23rd at Culture Amp for rehearsal?

[2019-01-08 05:54] tcn33 commented on #113
@oheydrew are you able to make part/all of 1pm to 2:50pm on Wednesday Jan 23rd at Culture Amp for rehearsal?

[2019-01-08 05:54] tcn33 commented on #110
@erinbelot are you able to make part/all of 1pm to 2:50pm on Wednesday Jan 23rd at Culture Amp for rehearsal?

[2019-01-08 10:40] oheydrew commented on #113
I can likely make that work. Probably closer to 1pm though :)

[2019-01-09 11:43] colquhounking commented on #119
I should be able to get there by 2.30, maybe a little earlier.

[2019-01-14 21:47] erinbelot commented on #110
Hey @tcn33, yep that should be fine.

[2019-01-21 02:08] tcn33 commented on #118
Let's meet in the lobby at 31 Queen St at 1pm on Wednesday. Cool?

[2019-01-21 02:09] tcn33 commented on #119
The address is 31 Queen St - ping me when you're in the lobby :)

[2019-01-21 02:09] tcn33 commented on #113
Let's meet in the lobby at 31 Queen St at 1pm on Wednesday. Cool?

[2019-01-21 02:09] tcn33 commented on #110
Let's meet in the lobby at 31 Queen St at 1pm on Wednesday. Cool?

[2019-01-21 02:17] oheydrew commented on #113
Perfect 👌

[2019-01-21 04:35] VanessaNimmo commented on #118
Great - thanks!

[2019-01-22 06:10] tcn33 commented on #110
All good! I hope you feel better soon.

[2019-01-25 10:37] saramic opened #120 "The Rails Camp Project"
retrospect on what was [#TheRailsCampProject](https://twitter.com/hashtag/TheRailsCampProject?src=hash) at [Rails Camp 24 Hobart Woodfield Nov 2018](https://railscamp24.wordpress.com/) - a review of the amazing experience of @SelenaSmall and @saramic pairing with 36 awesome Rails Campers in 56 hours. A plea for joint coding project at the next rails camp.

20 min

Perfect for end of April in prepa

[2019-02-26 22:42] tcn33 commented on #119
@fbvilela how did the recordings go last month?

[2019-02-28 07:04] fbvilela commented on #118
https://www.youtube.com/watch?v=A6JQ9fUhtcA

@VanessaNimmo

[2019-02-28 07:10] fbvilela commented on #113
https://youtu.be/me8CK_4TPpo

[2019-02-28 07:22] fbvilela commented on #119
https://youtu.be/Xhyn9YcwM1o 👍

[2019-02-28 07:31] fbvilela commented on #115
https://youtu.be/HzxHBgsrBVY

[2019-02-28 07:36] fbvilela commented on #116
https://youtu.be/lSiD3LZanPI

[2019-02-28 23:33] oheydrew commented on #113
Thanks! :D Amazing :) So good to see how I did :)

[2019-03-01 00:06] fbvilela commented on #119
@quintrino

your talk is here https://www.youtube.com/watch?v=TgC6YyKiWnI&t=68s

there was no github issue to paste this on

[2019-03-14 20:32] saramic opened #121 "Avoiding Arrest with Rubocop"
on the success of @quintrino great presentation of his 3rd favourite gem, pry, https://youtu.be/TgC6YyKiWnI I would like to see his 2nd favourite gem

[2019-03-14 20:33] saramic opened #122 "Nick Wolf's all time favourite Gem"
on the success of @quintrino great presentation of his 3rd favourite gem, pry, https://youtu.be/TgC6YyKiWnI I would like to see his all time favourite gem

[2019-03-15 01:30] davich commented on #122
Let's not forget his 4th favourite! I hear it's a doozy!

[2019-03-15 01:31] #115 closed

[2019-03-24 23:33] #113 closed

[2019-03-24 23:34] #118 closed

[2019-03-24 23:35] #119 closed

[2019-03-24 23:35] #116 closed

[2019-04-08 00:57] tcn33 commented on #120
Still on for April @saramic?

[2019-04-08 00:57] tcn33 commented on #106
@elle still available to do this one, perhaps April 24th?

[2019-04-08 12:57] saramic commented on #120
Yes @tcn33 @SelenaSmall and I are good to go for Wed 24th April!

[2019-04-16 03:55] radar commented on #110
Hi @erinbelot, would you like to give this talk at either _next week's_ Melbourne Ruby meetup, or perhaps the May one?

[2019-04-16 05:01] erinbelot commented on #110
@radar Alrighty :)

[2019-04-16 05:03] erinbelot commented on #110
Next week is good if you have spots to fill, otherwise May works too

[2019-04-22 23:57] radar commented on #110
Hey @erinbelot, it would be great if you could come along tomorrow night and speak :) Are you still free?

[2019-04-23 00:00] erinbelot commented on #110
Yeah that should be fine :)

[2019-04-24 00:27] pat commented on #110
Hi Erin - just a quick note to let you know I'm hosting the meet tonight, as Ryan and Toby can't make it - so feel free to find me before the proceedings kick off, we can check your laptop setup.

[2019-04-24 00:28] pat commented on #120
Hi Selena & Michael - just a quick note to let you know I'm hosting the meet tonight, as Ryan and Toby can't make it - so feel free to find me before the proceedings kick off, we can check your laptop setup.

[2019-04-25 05:33] owlfox commented on #122
0th also please! 😆

[2019-04-27 08:53] #110 closed

[2019-05-13 04:26] tcn33 commented on #121
@quintrino Are you in for this month or is @radar trolling 😆

[2019-05-15 01:49] mtcmorris opened #123 "Snek - developing and running a coding game for Railscamp"
# What

I wrote a game, [Snek](https://github.com/ferocia/snek), for people to enjoy and contribute to at Railscamp Perth.

Can give a ~20 mins into the What, How, Why of writing this game for Railscamp, what worked well for the project and also some of the winning strategies employed by participants.

[2019-05-15 12:17] saramic opened #124 "Actionable Errors in Rails 6"
How to resolve errors straight from the Error Pages. Also some exploration of how `rails middleware` works how these actionable errors are implemented. Hopefully an application of how actionable errors may be useful

20min presentation ready for End of May

[2019-05-29 22:39] xaviershay opened #125 "Tiny Turing Toys: Tapes, States, and Breaks"
A talk for June perhaps? It'll be fun! I've been going deep on turing machines recently, got a ripper of a story. There'll be code, history, and zero chance of it being relevant to anyone's day job.

I see there are 20min slots, can easily fill that but will take 40min if that's an option.

[2019-05-29 23:31] tcn33 opened #126 "Add new ROROers"
Please add Vanessa (@VanessaNimmo) and Celia (@colquhounking) to the melbourne-ruby team to allow them to manage issues etc. Thank you 🙂

[2019-05-30 02:05] pat commented on #126
Invites sent 👍  Vanessa, Celia: let me know if it hasn't worked!

[2019-05-30 02:05] #126 closed

[2019-05-30 03:33] colquhounking commented on #126
It worked!

On Thu, 30 May 2019 at 12:05, Pat Allan <notifications@github.com> wrote:

[2019-06-15 01:36] VanessaNimmo commented on #125
Would it work as two 20-minute talks with pizza in-between them? 40 minutes in one hit is a lot after a day at work but with a bit of a break we'd get to hear all the cool stuff you have to say.

[2019-06-15 02:18] xaviershay commented on #125
yes definitely, love talks with breaks

[2019-06-15 06:48] VanessaNimmo commented on #125
Great! Let's call it a double bill from you for the June Meetup then :)

[2019-06-19 06:37] VanessaNimmo opened #128 "Mining Music Mentoring to Grow Good Devs"
Software development as an industry is in its infancy and growing fast. To grow fast you need more people, but learning complex software development skills takes time.

Music has been training complex abstract skills for hundreds of years. Surely there are applicable established methods we can borrow to help software developers grow?

This talk starts with an overview of the ways music skills are

[2019-06-25 10:56] VanessaNimmo commented on #124
https://www.youtube.com/watch?v=f65Eu_vl7OI

@saramic

[2019-06-25 10:57] #124 closed

[2019-06-30 07:26] tomdalling opened #130 "Talk: Introduction to Mutation Testing"
Mutation testing is a very rigorous, but relatively unknown, approach to testing code. In this talk, I'd run everyone through:

1. What mutation testing is
1. How to do it in Ruby
1. The kinds of problems it will uncover in your code
1. When you might (or might not) want to use it

[2019-07-01 02:06] VanessaNimmo commented on #130
Looks cool! Thanks for submitting!

How long is this talk? Is it suitable for a 20-minute presentation?
Would you like to do it at the July Meetup? It is on the 31st.

[2019-07-01 02:14] tomdalling commented on #130
The talk isn't written yet, but I can aim for 20 mins, and I should be able to have it ready for the July Meetup. I don't think the content will be too difficult to write, because it's mostly going to be from experience, so it won't need much research.

[2019-07-01 06:50] VanessaNimmo commented on #130
Great! Will add you to the July lineup.

[2019-07-02 00:24] tomdalling commented on #130
Nice, see you then!

[2019-07-05 03:47] clockworkpc opened #131 "[Talk Proposal] Never Give Up: A Tale of Test Automation on Rails"
## Summary
A humble  software tester uses the power of Ruby on Rails to overcome insurmountable barriers to test automation.

## Details
### Speaker
Alexander Garber, Test Automation Engineer at Profectus Group.
### Length
About 20 minutes.
### Code complexity
Very simple: comprehensible to those fluent in Ruby and non-coders alike
### Key takeaways
* Ruby on Rails is excellent for prototying a co

[2019-07-10 05:45] VanessaNimmo commented on #131
Looks really interesting! We have two talks for July already - how is August looking for you?

[2019-07-10 05:46] VanessaNimmo commented on #122
@quintrino, I feel like we had a conversation where we talked about this happening in August? Is that correct, and if so is that still suitable?

[2019-07-11 04:16] clockworkpc commented on #131
August works for me: that'll give me plenty of time to refine the talk and make sure that it keeps to a strict time limit.

[2019-07-15 02:12] quintrino commented on #122
@VanessaNimmo We did, but I'll now have to push that back.

[2019-07-16 07:00] VanessaNimmo commented on #122
No worries, @quintrino What would be a good timeline for you?

[2019-07-22 10:49] geelen opened #132 "[Talk proposal] MITM attacking your own site to a better UI"
## Summary

There are a lot of benefits to a fully separated frontend and an API-only backend in Rails: you can iterate faster, use fancy new hosting platforms like Netlify, and allow each of your developers to focus either on backend (business logic) or frontend (customer-facing features). But what if you're not there yet?

While building a product in this space, I came across a use-case that I t

[2019-07-25 00:35] tristanpenman opened #133 "A quick look at some of the improvements and new features in Ruby 2.7"
This is a talk idea that I've been playing around with for a while:

I think all Ruby developers, beginners and experts alike, will have found themselves tripped up by the quirks of the language and standard library at various points in time. Little things, like 0 being truthy, can be very surprising for people coming from other languages. And the features that lead to this, such as everything bei

[2019-07-27 02:23] squiggla opened #134 "is my rails good enough to go to RailsCamp?"
I am challenging my sister @tamadillo for a ticket to go to RailsCamp Melbourne Nov 2019 by seeing if I have learned enough rails by the October meetup. A quick journey of what I have learnt over 3 months programming and some live code (I hope). Let the audience decide who is more deserving of the 1 ticket that my father @saramic has bought for us.

10-minute presentation, some live coding, Octobe

[2019-07-29 02:30] VanessaNimmo commented on #130
Hi @tomdalling! Just a final check that you are good to go this Wednesday?

[2019-07-29 03:12] tomdalling commented on #130
Yep, I'm good to go @VanessaNimmo. Am I pre- or post- pizza?

[2019-07-29 11:59] VanessaNimmo commented on #130
Great! @tomdalling let's put you on first, so pre-pizza.

[2019-07-29 12:01] VanessaNimmo commented on #132
Hi Glen! Apologies for not seeing this earlier. It feels like something I'd really like to see a full 20 minutes on in September. Is that ok with you @geelen?

[2019-07-29 12:05] VanessaNimmo commented on #134
High stakes @squiggla! Have added you to the October milestone and looking forward to hearing your talk.

[2019-07-29 12:15] VanessaNimmo commented on #133
Hi @tristanpenman. Sounds interesting! We currently have space for a 20 minute talk in August or September - do either of them suit?

[2019-07-29 23:21] tristanpenman commented on #133
Great! I could do September.

[2019-07-30 01:53] geelen commented on #132
Sounds good! That'll be the 25th of Sept, yeah?

[2019-07-30 06:55] VanessaNimmo commented on #133
Great @tristanpenman let's lock it in!

[2019-07-30 06:57] VanessaNimmo commented on #132
Yep Sept 25th! Looking forward to hearing your talk!

[2019-08-03 11:48] antulik opened #135 "Lightning talk: Rails as a static site generator"
The goal is to keep the talk under 5 min

[2019-08-08 21:28] clockworkpc commented on #131
I regret to inform RORO that I cannot deliver this talk after all.  Apologies for the inconvenience.

[2019-08-12 22:31] saramic opened #136 "My testing experience with TCR"
well I have none, but now that I have a public issue open I am sure I will find time to prepare a short (_~20min_) presentation to show what it is `test && commit || revert` TCR way of writing test driven code. I am good to go for **Augutst 2019**

I will try to keep this issue somewhat updated in case this grows into a longer presentation :p

[2019-08-13 20:54] VanessaNimmo commented on #136
Great! Have added you to the August milestone. Looking forward to it!

[2019-08-13 20:55] VanessaNimmo commented on #135
Sounds interesting! When suits you to do this talk? We don't have a specific night scheduled for lightning talks as yet, but if its under 5 minutes we could probably fit it in any month that suits you.

[2019-08-20 23:26] colquhounking commented on #135
October might be good? squiggla and tamadillo will either be doing a joint talk or two short talks. What do you think @antulik?

[2019-08-21 04:45] antulik commented on #135
I can do August, and will submit another proposal for October.

I'd like to popularise such format and encourage other people to start presenting lighting talks. So will throw a twist, if people want me to give a lighting talk in October, they should also give a lighting talk as well. Give one, get one free deal :) So potentially there will be two lighting talks in october if everything goes well

[2019-08-26 03:00] colquhounking commented on #135
Hey Anton! It would be great if you could do August! (This Wednesday!)

[2019-08-26 04:41] cmaitchison opened #137 "How we use Rails to extract and democratise Business Intelligence from data at Up"
A deep dive into how the [Up](https://www.up.com.au) Rails monolith asynchronously transforms data structured by the operational DB schema into data structured in an analytical schema, in order to power business intelligence queries - all within the monolith.

We use [Multiverse](https://github.com/ankane/multiverse) to connect certain ActiveRecord objects to another Postgresql database. We then u

[2019-08-26 04:49] VanessaNimmo commented on #137
Sounds fantastic @cmaitchison! How long is this talk, and how soon would you like to do it?

[2019-08-26 04:53] cmaitchison commented on #137
Hi @VanessaNimmo. I was thinking it could be a 30-40 minute talk that I could give next month.

[2019-08-26 04:55] cmaitchison opened #138 "[Lightning Talk] 10 non-code tips that could help you be a better team member"
A quick overview of some of the lessons I've picked up from managing the high-performing engineering team at [Up](https://www.up.com.au).

[2019-08-26 04:55] cmaitchison commented on #138
@VanessaNimmo Hi Vanessa. Happy to give this at RORO tomorrow if there is still an open spot.

[2019-08-26 04:59] VanessaNimmo commented on #138
That would be fantastic! Thanks @cmaitchison!

[2019-08-26 05:03] VanessaNimmo commented on #131
@clockworkpc I haven't heard from you if you want to deliver this at a different time or not at all. Please let me know which you would prefer.

[2019-08-26 05:06] xaviershay commented on #134
@saramic thunderdome with your kids, brutal 🤘

[2019-08-26 06:48] colquhounking commented on #137
@cmaitchison Would October work for you?

[2019-08-26 09:18] cmaitchison commented on #137
It certainly would 👍

[2019-08-26 11:09] tamadillo opened #139 "I am going to rails camp, again!"
so big brother @squiggla want's to go to rails camp on the 1 ticket my dad @saramic has funded for "us". Well I don't think so. Let the audience decide, some of my learnings in coding and maybe even some live coding? look i even have a [water cycle](https://water-cycle.herokuapp.com/) [github](https://github.com/tamadillo/water-cycle) thing I did in react for a year 7 project in science! 10 min li

[2019-08-28 08:51] saramic opened #140 "how I created an interactive slide show"
How I built an interactive slide show for live audience participation using Rails and GraphQL and React - it will be awesome

5min lightning talk - maybe October?

[2019-08-28 10:12] clockworkpc commented on #131
@VanessaNimmo, unfortunately my current role precludes me from giving this talk in the foreseeable future.  If my circumstances change I'll be very keen to put myself forward again.

[2019-08-28 11:34] tcn33 opened #141 "Work-life balance - what it is and how to get it"
Lots of people (me included) have trouble with establishing boundaries between their work and home lives. I’d like to see a talk on how you navigated this and some tips on establishing a healthy balance.

[2019-08-30 01:46] biancaG opened #142 "[Lightning talk] (comedy) HOWTO: Become a 10x rockstar developer"
The story of how I became a 10x rockstar developer using the rockstar programming language.

[2019-08-30 01:55] VanessaNimmo commented on #139
Looking forward to hearing it @tamadillo!

[2019-08-30 04:44] VanessaNimmo commented on #142
Hi @biancaG - is this a 5-minute lightning talk? And when would you like to present it?

[2019-08-30 04:44] VanessaNimmo commented on #140
Hey @saramic! Is this a talk you actually want to give? If not we can close the issue :)

[2019-08-30 04:46] VanessaNimmo commented on #131
@clockworkpc I'll close it for now then so I don't keep trying to schedule it when I look at the repo, but feel free to re-open it in the future if you would like to present it.

[2019-08-30 04:46] #131 closed

[2019-08-30 05:11] saramic commented on #140
@VanessaNimmo absolutely! this will be international standard 5min lightning talk having the users actively interact with my slides getting me to tell them how I built the interactive slides! it will be amazing - the users can "choose their own adventure" as to how long I stay on a slide and what slide I go to next

[2019-08-30 05:47] biancaG commented on #142
Yes, and the next meeting if there's a spot available.

[2019-08-30 11:05] antulik opened #143 "[Lightning talk] Pick topic / Give one, get one deal in October"
As mentioned in August meetup, I will give one lightning talk if there is another lighting talk in October. If you want to take this deal please post here.

You can also pick the topic. I can elaborate on request.

- Using Rails for printing Ruby tags for meetup
- How meetup.com was integrated with Ruby Down Under forum
- Building zero gravity chair
- My ergonomic workstation
- DIY keyboard platfo

[2019-09-01 06:04] biancaG commented on #142
Also, this *must* be clearly described as a comedy, I don't want something published that makes it sound like I actually think I'm a 10x rockstar in the common meaning.

[2019-09-02 05:32] tristanpenman commented on #133
@VanessaNimmo, it looks like I won't actually be able to make it to the meetup this month due to a conflicting work commitment. Can we push the talk back to the October meetup?

[2019-09-04 02:55] dnch commented on #141
Ooooh, I love fairy-tales! :D

[2019-09-04 02:59] dnch opened #144 "Proposed Talk: A Request for Comments"
When did comments become a bad thing? A short exploration of why the tide of public opinion has turned against comments, why I believe it's unhelpful and a light smattering of opinion about how to leverage them to help you and your team succeed.

[2019-09-04 03:03] dnch opened #145 "Proposed Talk: I :heart: RSpec"
I've been using RSpec for a while now, and have amassed a bunch of ideas that might be worth sharing.

[2019-09-04 03:06] tcn33 commented on #145
Alternate talk title: I Am A Master Of Understatement.

[2019-09-05 07:05] fbvilela commented on #121
https://youtu.be/PkZTlvLmpvw @VanessaNimmo here we go, first video of many. they are going up

[2019-09-05 07:49] fbvilela commented on #123
https://youtu.be/L8Ql70FOWhE

[2019-09-05 07:53] fbvilela commented on #125
https://youtu.be/JJ5oQ6bya-I

[2019-09-05 07:56] fbvilela commented on #136
https://youtu.be/OvtkD4O2dcE

[2019-09-05 08:17] fbvilela commented on #138
https://youtu.be/kdJzevi0aMQ

[2019-09-05 08:35] fbvilela commented on #135
https://youtu.be/wgz2-zpyLvM

[2019-09-05 09:39] xaviershay commented on #125
thank you!

[2019-09-05 09:39] #125 closed

[2019-09-05 23:32] tristanpenman commented on #133
Just wanted to follow up on this to make sure that someone from the organiser team has seen my previous message.

[2019-09-06 04:49] VanessaNimmo commented on #133
Hi @tristanpenman yep got your message, just only reply to RORO messages a couple of times a week rather than every day :)

Thanks for letting us know you can't speak this month. October is already too full for another 20-minute talk. We'll chat about what talks are coming up and get back to you soon.

[2019-09-06 04:51] tristanpenman commented on #133
Sounds good.

[2019-09-06 16:27] ZimbiX opened #146 "API request idempotency"
In the tech book club at GreenSync, we've been reading [Designing Data-Intensive Applications by Martin Kleppmann](https://dataintensive.net/) - an absolutely amazing book! It's brought to our attention the difficulty of cleanly dealing with the situation where an update request from an app to our central service, [deX](https://dex.energy), gets lost somewhere along the way. This could be before o

[2019-09-06 23:58] VanessaNimmo commented on #121
Thanks @fbvilela!

[2019-09-06 23:58] #121 closed

[2019-09-06 23:58] #123 closed

[2019-09-07 00:00] #136 closed

[2019-09-07 00:04] #138 closed

[2019-09-07 00:08] #128 closed

[2019-09-07 00:09] VanessaNimmo commented on #130
@tomdalling Just letting you know that talks on this night weren't recorded as there was a technical issue. Usually we wait till we have a talk video to close the issue but as there won't be one I'm closing it off now. Sorry about that!

[2019-09-07 00:09] #130 closed

[2019-09-12 03:08] VanessaNimmo commented on #142
Yep next meeting is possible @biancaG. Can promise to describe as comedy :)

[2019-09-12 06:37] VanessaNimmo commented on #146
Hi @ZimbiX! Is this a 20-minute talk or something shorter? And what sort of timeframe are you looking at for presenting it?

[2019-09-12 06:38] VanessaNimmo commented on #145
Hi @dnch! What length talk is this and how far away are you thinking for presenting it?

[2019-09-12 06:38] VanessaNimmo commented on #144
Hi @dnch! Are you thinking 20 minutes for this or shorter? And how far away are you thinking for presenting?

[2019-09-12 06:54] VanessaNimmo commented on #140
@saramic Great! How soon would you like to deliver it?

[2019-09-14 05:24] ZimbiX commented on #146
20-30 minutes I reckon. In a couple of months

[2019-09-17 03:31] VanessaNimmo commented on #99
Closing this issue as @MelissaKaulfuss can no longer make RORO 😢

[2019-09-17 03:31] #99 closed

[2019-09-17 03:32] VanessaNimmo commented on #64
Hey @pauloancheta - is this still something you are interested in presenting?

[2019-09-17 03:54] VanessaNimmo commented on #60
Closing this issue as @MelissaKaulfuss can no longer make RORO 😢

[2019-09-17 03:54] #60 closed

[2019-09-17 03:57] #106 closed

[2019-09-17 06:01] VanessaNimmo commented on #51
Hey @simonhildebrandt - is this still a relevant talk for you and for RORO?

[2019-09-17 16:10] pauloancheta commented on #64
Hi @VanessaNimmo! I just moved back to Canada so I won't be able to present this anymore

[2019-09-19 12:21] VanessaNimmo commented on #64
Wow! Seems fair 😂

[2019-09-19 12:21] #64 closed

[2019-09-19 12:23] VanessaNimmo commented on #133
Hey @tristanpenman - how about November for this talk?

[2019-09-19 12:24] VanessaNimmo commented on #53
Hi @simonhildebrandt - is this still a talk you'd like to give at RORO?

[2019-09-19 12:25] VanessaNimmo commented on #62
Hi @anicholson - is this still a talk you'd like to give at RORO?

[2019-09-19 23:49] HashNotAdam opened #147 "Sorbet: first impressions"
Sorbet, a type checker for Ruby, created a lot of buzz when it was announced. Inevitably, with a language that prides itself on expressiveness, simplicity, and flexibility, the introduction of something which brings us closer to Java was going to create loud, polarising opinions.

Now that it is in the wild, it seems like a good time to have a discussion that spans experience levels including:

-

[2019-09-20 00:40] tristanpenman commented on #133
That works for me 👍

[2019-09-23 06:19] anicholson commented on #62
@VanessaNimmo RORO's still a Wednesday, right? If so, I'll have to put it on ice as I live in Bendigo and I'm not normally in Melbourne on a Wednesday :(

[2019-09-23 06:58] VanessaNimmo commented on #62
@anicholson It is still a Wednesday. No plans to change it at present, so I'll close this issue. You should bring it to the Unconference at the next Rails Camp!

[2019-09-23 06:58] #62 closed

[2019-09-24 02:38] HashNotAdam commented on #147
Sounds great, @colquhounking

[2019-09-24 03:53] colquhounking commented on #147
Woo!

[2019-10-20 06:23] cmaitchison commented on #137
I’ve got this down to about 20 minutes to fit better with the standard format 👍

[2019-10-22 03:40] colquhounking commented on #137
Woo! Thank you! Looking forward to it :)

[2019-10-30 22:36] StaphSynth opened #148 "Talk proposal: Enter the Matrix"
A talk about setting up test matrices to test your code against multiple versions of its dependencies and multiple versions of Ruby.

[2019-10-31 01:30] #143 closed

[2019-11-02 00:33] VanessaNimmo commented on #148
Cool! Is this a 20 minute talk? And how soon are you thinking for presenting it?

[2019-11-03 04:32] ZimbiX commented on #137
Great talk, @cmaitchison! Cheers

What was your referral link again? =P

[2019-11-05 18:30] VanessaNimmo commented on #133
Hi @tristanpenman! New features also sounds like a great talk - do you want to change the title of this issue to reflect that? We're happy for a new features talk to happen in November.

[2019-11-06 04:41] StaphSynth commented on #148
Yeah I was thinking of somewhere around 20 min. Might be a bit shorter (I'll try not to overload people with technical stuff). I can do whenever you have space.

[2019-11-06 04:42] tristanpenman commented on #133
Will do

[2019-11-25 01:16] pat opened #149 "Talk Proposal: Writing Ruby Gems"
Essentially, polishing up the talk I just gave at Rails Camp with some better slides and an actual rehearsal or two, covering the following:

* What are gems?
* Why would you write gems?
* File structures and naming
* Adding executables
* Building and publishing
* Licenses, Versions and READMEs
* Testing
* Integrating with Rails

Happy to present this sometime early in the new year. Might need 30

[2019-11-26 02:30] nhunghoang1 opened #150 "My learning journey through different careers"
My name is Emily Hoang. I'm a graduate software developer at ThoughtWorks - a global IT consultancy. I'd like to share with you all 'My learning journey through different careers'. Some parts of my presentation will be written in Ruby with some real simple classes. It's very easy to understand, especially for junior developers. The presentation is in Pecha Kucha style (20 slides, 20 seconds per sl

[2019-11-26 05:26] VanessaNimmo commented on #150
Hi Emily! Looking forward to hearing your talk. Have you been to RORO before? Do you know what time it all happens and so on?

[2019-11-26 05:56] nhunghoang1 commented on #150
Hi Vanessa,
I've been to the meetup 2,3 times. I believe that from 6 - 6:30,
everyone will just hang around and network. Then at 6:30, the talk will
start. I told Ryan that my presentation will be the first one. Hopefully,
it will be ok.
It would be great if you could confirm the agenda just in case I got it all
wrong.
Cheers,
Emily Hoang

On Tue, Nov 26, 2019 at 4:26 PM Vanessa Nimmo <notificatio

[2019-11-26 06:03] VanessaNimmo commented on #150
Great that you are familiar with the format. Because your talk is short, going first is fine. At 6.30 we'll get everyone seated and announce things - first talk usually starts some time between 6.30 and 6.45, depending on how fast people get settled and how many announcements there are. See you tomorrow!

[2019-11-26 06:41] nhunghoang1 commented on #150
Perfect, see you there.

Sent from my iPhone

[2019-11-29 00:14] VanessaNimmo commented on #148
Have added to Jan as per the chat on Wednesday. Hope that's cool!

[2019-11-29 00:15] VanessaNimmo commented on #144
Hey @dnch! Have added this to Jan as per our chat on Wednesday, but can be moved to whenever suits. Just let me know :)

[2019-12-03 03:17] ZimbiX commented on #147
I'm disappointed to have missed last month - very keen to see the recording of this!

[2019-12-03 03:18] ZimbiX commented on #146
I don't think we're going to get to this for a while, so I think I'll close this issue and re-open when/if we do

[2019-12-03 03:18] #146 closed

[2019-12-03 09:57] HashNotAdam commented on #147
@ZimbiX TBH, it was only worth watching for the free icecream ;)

[2020-01-08 03:04] VanessaNimmo commented on #148
Hello! Happy New Year! How is the January meetup feeling for this talk now that it's January?

[2020-01-08 03:19] VanessaNimmo commented on #144
Hello! Happy New Year! How are you feeling about doing this talk at the January meetup now that it is January?

[2020-01-08 03:33] lisushka opened #151 "Talk Proposal: This Talk Has Been Disabled (a talk on accessibility)"
This Talk Has Been Disabled is a talk on accessibility, with primary focus on how web developers can avoid and fix the most common/impactful barriers to access.

The talk is 45-50 minutes long, and can probably be cut to 40 if necessary.  I've given it multiple times before, and so I can present whenever is convenient.  I can also provide a synopsis and the slide deck from the last time I gave thi

[2020-01-13 05:49] VanessaNimmo commented on #151
Thanks @lisushka! We would be delighted to have you either February 26th or March 25th - take your pick :) 45 minutes is ok by us, we would aim to have you start around 7.30 after refreshments. Does that work?

[2020-01-13 05:51] VanessaNimmo commented on #149
Hi @pat! Given our chat re the camp length of this talk, do you want to schedule 30 minutes for this one or make it a 40 or 45 minutes slot?

[2020-01-13 06:07] lisushka commented on #151
Start time is agreeable.  February would be better for me, so let's do that.

[2020-01-15 09:39] pat commented on #149
I feel like 40-45 is maybe the better target, given people will likely have questions as well, and it means I can keep the Rails-specific stuff in which may be more interesting to those with a bit more experience.

Do you have some idea of which month you'd like this scheduled in for? (i.e. do I need to have it ready for a fortnight's time? 😅)

[2020-01-15 11:17] VanessaNimmo commented on #144
@dnch thoughts on the above please?

[2020-01-15 11:17] VanessaNimmo commented on #148
@StaphSynth thoughts on the above please?

[2020-01-17 02:21] StaphSynth commented on #148
@VanessaNimmo sorry about the delay. Yep, all go for January!

[2020-01-21 01:11] VanessaNimmo commented on #151
Great! Let's lock in February :)

[2020-01-21 01:13] VanessaNimmo commented on #148
Sweet! See you then!

[2020-01-21 01:21] VanessaNimmo commented on #149
Let's put aside a longer time for this talk, which means earliest available is March. Does that work for you?

[2020-01-21 01:24] pat commented on #149
March works 👍

[2020-01-21 11:19] VanessaNimmo commented on #144
@dnch having not heard from you at all to confirm I'm going to take this off the January Meetup. Looking forward to hearing it when the timing is better.

[2020-02-22 23:44] wakeless opened #152 "How to apply engineering principles to getting approvals"
Title is a WIP

This talk takes a few principles that we as rubyists hold near and dear and applies them to the task of getting your project green-lighted. This applies to any project in your team, or larger.

[2020-02-24 06:02] wakeless commented on #152
Weirdly, don't seem to be able to add labels, but it is 40 minutes.

[2020-02-24 06:56] VanessaNimmo commented on #152
Thanks! That was going to be my first question :) Approximately when do you think it will be ready to present?

[2020-03-05 23:28] fbvilela commented on #122
https://www.youtube.com/watch?v=ECBfynL_BzU

[2020-03-06 00:40] fbvilela commented on #151
https://www.youtube.com/watch?v=vNj8ItVcwsE

[2020-03-06 00:41] #122 closed

[2020-03-06 00:42] #148 closed

[2020-03-06 00:42] #51 closed

[2020-03-06 00:43] #53 closed

[2020-03-06 00:44] VanessaNimmo commented on #117
https://www.youtube.com/watch?v=P01gclPahxo

[2020-03-06 00:44] #117 closed

[2020-03-06 00:46] VanessaNimmo commented on #137
https://www.youtube.com/watch?v=Rk31iOgJhJM

[2020-03-06 00:46] #137 closed

[2020-03-06 02:31] VanessaNimmo commented on #140
https://www.youtube.com/watch?v=uIj-ipbPI3A

[2020-03-06 02:31] #140 closed

[2020-03-06 02:31] #135 closed

[2020-03-06 02:32] VanessaNimmo commented on #139
https://www.youtube.com/watch?v=uIj-ipbPI3A

[2020-03-06 02:32] #139 closed

[2020-03-06 02:32] VanessaNimmo commented on #134
https://www.youtube.com/watch?v=uIj-ipbPI3A

[2020-03-06 02:32] #134 closed

[2020-03-06 02:59] VanessaNimmo commented on #142
Unfortunately no video was recorded for this meetup - apologies!

[2020-03-06 02:59] #142 closed

[2020-03-06 02:59] VanessaNimmo commented on #132
Unfortunately no video was recorded for this meetup - apologies!

[2020-03-06 02:59] #132 closed

[2020-03-06 04:19] VanessaNimmo commented on #150
Unfortunately the video recording did not work on the evening this talk was presented, so no video is available.

[2020-03-06 04:19] #150 closed

[2020-03-06 04:20] VanessaNimmo commented on #147
Unfortunately the video recording did not work on the evening this talk was presented, so no video is available. Sorry @ZimbiX!

[2020-03-06 04:20] #147 closed

[2020-03-06 04:20] VanessaNimmo commented on #133
Unfortunately the video recording did not work on the evening this talk was presented, so no video is available.

[2020-03-06 04:20] #133 closed

[2020-03-08 10:17] wakeless commented on #152
@VanessaNimmo I could present it at the next RORO. It's basically ready to go

[2020-03-09 22:15] colquhounking opened #153 "A talk on Time"

[2020-03-25 09:50] joshprice opened #154 "Online Talk Proposal: Working with Tailwind and SVG"
I'm really loving Tailwind CSS for working server side without writing *any* CSS at all.

Inline SVGs are a real game changer for icons and vector drawings.

I've been doing this with Elixir and Phoenix but it applies just the same in a Rails app (or any other server side rendered web framework for that matter).

[2020-04-16 03:22] colquhounking commented on #152
Hi there! would you consider presenting this as an online talk? It doesn't look like we'll be back in person for a while

[2020-04-16 03:22] colquhounking commented on #154
Hey Josh, would this be ready for April's online RORO?

[2020-04-24 23:33] paulfioravanti opened #155 "Online presentation: The Curious Incident of the Shadow in the Run-Time"
This talk is all about the perils of shadowing in Ruby, starting with variable shadowing, and exploring a lesser-known but worth-knowing form of shadowing that you should try and avoid in your codebase.

Intended audience - Probably intermediate upwards, but I've tried to be as beginner-friendly as possible.

Twitter username is `@paulfioravanti`.

I've previously [given this talk at ROROSyd](http

[2020-04-29 03:17] VanessaNimmo commented on #154
Hi Josh! May is also going to be online - would you like to present then?

Also, how long is this talk?

[2020-04-29 03:17] VanessaNimmo commented on #155
Thanks, Paul! How long is this talk?

[2020-04-29 04:00] paulfioravanti commented on #155
Last time I did it, I recall it being 15-20 minutes.

[2020-05-07 14:48] saramic commented on #120
@colquhounking and @VanessaNimmo I think we can close this one off as it was done April 2019 - shame there was no recording :(

[2020-05-09 01:34] VanessaNimmo commented on #120
Good point thanks @saramic, and sorry about the recording :(

[2020-05-09 01:34] #120 closed

[2020-05-09 01:37] VanessaNimmo commented on #151
With CC: https://www.youtube.com/watch?v=wPlDNZtQ6QM&t=25s

[2020-05-09 01:37] #151 closed

[2020-05-09 01:38] VanessaNimmo commented on #149
https://www.youtube.com/watch?v=jGQTP3gqQ1U

[2020-05-09 01:38] #149 closed

[2020-05-09 01:38] VanessaNimmo commented on #152
Thank you for presenting this excellent talk and apologies for not recording it.

[2020-05-09 01:38] #152 closed

[2020-05-09 01:39] VanessaNimmo commented on #153
https://www.youtube.com/watch?v=91s0BMS5Jm0

[2020-05-09 01:39] #153 closed

[2020-05-09 21:08] DavidPerich opened #156 "Online Talk Proposal - What I learnt building an event-stream processing framework for small apps."
I've been building [Venice](https://venice-framework.github.io/) - an open source framework for setting up and managing event-stream processing for small applications and developers new to stream processing. I discussed a talk idea with @VanessaNimmo  on slack - but in broad strokes I was thinking:

1.  **Set up -** a bit of a dive into the question what is event-stream processing and why when is

[2020-05-09 21:16] DavidPerich commented on #156
I'll also think of a better name for the talk at some point!

[2020-05-12 01:21] quintrino opened #157 "Talk Proposal: Minimalism in your Home(directory)"
A short talk (5 - 10 minutes) about reducing the number of hidden files in your home directory.

[2020-05-12 07:19] VanessaNimmo commented on #155
hi @paulfioravanti! would you be happy to present this at our May meetup on the Wednesday the 27th?

[2020-05-12 07:37] paulfioravanti commented on #155
Sure thing! Lock me in!

[2020-05-13 00:11] VanessaNimmo commented on #155
Wonderful! The meeting will be open from 6pm, with announcements and presentations starting at 6:30pm. I think we also have a lightning talk for the May meetup, so will probably do that one first, then your longer talk so that we can spend time on questions afterwards. See you (online) then!

[2020-05-13 00:11] VanessaNimmo commented on #157
Hey @quintrino! Confirming you were keen to do this at the May online meetup?

[2020-05-27 11:23] paulfioravanti commented on #155
Thanks for having me on this evening! Slides can be viewed here: https://speakerdeck.com/paulfioravanti/the-curious-incident-of-the-shadow-in-the-run-time

[2020-05-27 11:23] #155 closed

[2020-06-03 21:11] #156 closed

[2020-06-12 07:59] pinzonjulian opened #158 "View Components 101"
Do you wish you could write React/Vue-like components without a single line of JS?

Introducing the [View Component](https://github.com/github/view_component) gem by the team at Github!

In this 10-15 minute talk I’ll do a quick intro to what view component is and how you can use it to clean up, preview and test components using plain, old and boring Ruby on Rails.

[2020-06-26 01:44] pinzonjulian opened #159 "How to manage your seeds"
Hey!
I'd like to see a talk on seed management. It's a critical part to an app and there is very little information on how to create, maintain and scale seeds for an app.

It'd be awesome to see some examples from small, medium and big projects.

Hope someone has the expertise around here to teach us about this :) Thanks!

[2020-06-26 23:12] ZimbiX commented on #154
Thanks for the talk, @joshprice! Very keen to share the video :grin:

[2020-07-07 22:49] colquhounking commented on #145
Heya @dnch we were wondering if you would be interested in presenting this talk at the July RORO in a couple of weeks. It will be online, but at the regular time

[2020-07-21 08:08] VanessaNimmo commented on #158
https://youtu.be/Lzsb-Q5Lm9g

[2020-07-21 08:08] #158 closed

[2020-07-22 02:59] VanessaNimmo commented on #154
here is the video, with the caveat that there is a moment or two missing around the 2:45 mark due to technical difficulties: https://youtu.be/o9Y_uL18wZ4

[2020-07-22 03:50] #154 closed

[2020-07-27 04:31] ptagell opened #160 "Automating your finances (and the Up API)"
A totally unsolicited bucket of tips relating specifically to managing money automatically.

[2020-07-28 11:17] ptagell commented on #160
@colquhounking - if I were to take > 5 but < 10 mins would that work? Can get < 5 if I'm brutal and speak faster.

[2020-07-28 12:01] colquhounking commented on #160
Between 5 and 10 will be fine!

[2020-07-29 09:29] ptagell commented on #160
Some notes from my talk:

Why we built the Up API: https://up.com.au/blog/api_lets_hack_on_banking/
API Docs: https://developer.up.com.au/
Invite code: https://hook.up.me/paul

[2020-07-29 22:09] davich commented on #160
Really enjoyed the talk, Thanks!. I had a couple more questions if you don't mind.
For the security focused consumer, do you have things like
- Regenerating (or cycling) API keys?
- User accessible logs of what was accessed, when, and by whom?
- Ability to limit API access to an IP range?
- 2FA - eg. client requests a 2FA token, that gets sent to a preconfigured url. If the client owns that url th

[2020-07-30 00:29] mtcmorris commented on #160
@davich - awesome ideas - cheers!

Cycling API keys is straight forward - you only ever have one access token - generating a new token will effectively revoke the old one.

For 2FA I don't quite follow - do you mean as a part of token generation? Or as part of accessing the API?

[2020-07-30 03:03] davich commented on #160
As part of accessing the API
As a client I'm about to GET the balance on my account. before I make that get call, I call generate_2fa_token on the API. The API makes an outbound call to my url (that I've pre-configured) with the 2fa token. I then use that token in my GET request. And that token is valid for the next 30 minutes (or whatever).
Same concept as how some sites SMS a code to the mobile

[2020-08-12 03:28] coderdan opened #161 "Debugging Diversity in the Tech Industry"
I've spoken a few times on the topic of fostering diversity in technology but delivered a revised version to a team at MYOB recently and it was suggested that I present at RoRO.

The talk covers:
* Defining the problem of diversity in tech
* Defining what we mean by diversity
* What folks can do to help improve diversity and inclusion (belonging even!) in tech

Its targetted more towards men as a

[2020-08-12 05:44] VanessaNimmo commented on #161
Thanks @coderdan! I remember it being a longer talk - was it 40 minutes and then we chatted for a bit, or was it an hour? Either way does August 26th work?

[2020-08-15 12:15] coderdan commented on #161
Its closer to an hour but I can make it a bit shorter if you need!

[2020-08-15 12:15] coderdan commented on #161
And yep, the 26th works!

[2020-08-15 13:29] VanessaNimmo commented on #161
No need to make it shorter, an hour works great! See you (online) on the 26th!

On 15 Aug 2020, at 22:15, Dan Draper <notifications@github.com> wrote:

﻿

Its closer to an hour but I can make it a bit shorter if you need!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/rails-oceania/melbourne-ruby/issues/161#issuecomment-674389599

[2020-08-24 00:55] sadhu89 opened #162 "Handling errors in Ruby using functional programming"
A beginner-friendly talk with a brief description of monads in the Ruby ecosystem.

[2020-08-26 01:56] VanessaNimmo commented on #161
Just letting you know @coderdan that we didn't end up with a lightning talk tonight, so its just you, which means you can luxuriate in an hour-long talk :) Looking forward to hearing it again!

[2020-08-26 05:26] maedi opened #163 "Reflective testing"
Introduce the concept of reflective testing and demo Reflekt, a new gem which makes it possible:
https://github.com/refIekt/reflekt

[2020-08-26 12:28] coderdan commented on #161
Here are my slides in case you want to share them: https://docs.google.com/presentation/d/1U5yHHaoDrSzv57waPgNMGG1Gsxcvzn7IlCmgN2b4XZw/edit?usp=sharing

[2020-08-26 23:11] colquhounking commented on #163
Hiya Maedi! Thanks for submitting a talk! What length talk are you planning? we have time for a shorter/lightning talk in September, or a longer one in November.

[2020-08-27 02:49] maedi commented on #163
The shorter one is fine, thank you

[2020-08-27 03:35] colquhounking commented on #163
Excellent, would you like to speak at the September meetup? Wednesday 30th?

[2020-08-27 03:35] colquhounking commented on #161
Thanks, Dan!

[2020-08-27 03:48] maedi commented on #163
OK 30th September sounds good

[2020-08-30 23:46] davich commented on #161
Hi @coderdan , Thanks for your talk. I found it super interesting. You mentioned a study where 2 mixed gender groups performed differently depending on whether they'd been told gender would influence results or not. Do you have a link to this study? I'd love to read more about it. Thanks

[2020-09-15 06:33] VanessaNimmo commented on #160
Video is finally up - apologies for the delay! https://youtu.be/AQVw0i-5tRc

[2020-09-15 06:33] #160 closed

[2020-09-16 06:05] VanessaNimmo commented on #161
Talk link: https://youtu.be/n9nZmNmEutk

[2020-09-16 06:05] #161 closed

[2020-09-16 23:07] VanessaNimmo commented on #144
Talk video: https://youtu.be/OEQkgZfMoZw

[2020-09-16 23:07] #144 closed

[2020-09-16 23:30] VanessaNimmo commented on #157
Talk video (apologies for the delay!): https://youtu.be/NzvbcBaPhXc

[2020-09-16 23:30] #157 closed

[2020-09-26 06:57] yasirrafiq786 opened #164 "Internship opportunities for bootcamp graduates (RoR specific)"

[2020-09-26 06:57] #164 closed

[2020-10-17 02:52] saramic opened #165 "Arduino on Rails"
So what has **Arduino**, an open-source electronics hardware platform that reads and sets things using electrical voltages, got to do with **Rails*, a web-application framework that includes everything for database-baked web apps, got to do with each other?

well nothing, but I will present some of my experiments bringing them together.

* 15-25 min presentation
* ready for October 2020

[2020-10-18 05:23] VanessaNimmo commented on #165
Thanks @saramic! Yes please for October 😃

[2020-11-09 04:17] bencefulop opened #166 "Exercism preso - TBA"
Name of talk: Exercism presentation (Will select problem this week)
Brief summary of the talk content: TBA
Which month's meetup you would like to present at: 25th November

[2020-11-11 05:31] MathGL92 opened #167 "Presentation of Exercism Tournament challenge"
Name of talk: Exercism challenge "Tournament"
Brief summary of the talk content: I will present my solution to the Tournament challenge.
Which month's meetup you would like to present at: 25th November

[2020-11-12 00:44] bencefulop commented on #166
I was thinking to solve the ISBN Verifier challenge: `exercism download --exercise=isbn-verifier --track=ruby`
Would that work for you?

[2020-11-12 06:38] colquhounking commented on #166
Sounds good

[2020-11-18 03:02] elle commented on #159
I can do a talk about this

[2020-11-18 03:11] colquhounking commented on #159
Excellent!

[2020-11-18 03:18] elle commented on #141
Also can do a talk about this topic

[2020-11-19 04:16] pinzonjulian opened #168 "Fixtures vs Factories? When to use each?"
This is a topic I haven't been able to wrap my head around when creating a healthy test suite.

Fixtures seem to have been banned from the internet but I've seen big companies talking about how a combination of both can create a test suite that is both performant and easy to use.

What's the secret? What should be a fixture and what should be a factory?

It'd be awesome to see someone give a talk

[2020-11-24 02:12] map7 commented on #168
Here is a blog post which I found which might answer some of these questions (or raise more questions)
https://blog.quantic.edu/2015/01/28/fixturies-the-speed-of-fixtures-and-the-maintainability-of-factories/

[2020-11-25 03:50] VanessaNimmo commented on #165
Thanks for the rad talk! Vid here: https://youtu.be/ASWD4EZqylU

[2020-11-25 03:50] #165 closed

[2020-11-25 03:58] VanessaNimmo commented on #163
Thanks for the talk! Vid here: https://youtu.be/yO_0JdcOND8

[2020-11-25 03:58] #163 closed

[2020-11-25 04:04] VanessaNimmo commented on #162
Thanks for the excellent talk! Vid here: https://youtu.be/aKGxvwnD9Lw

[2020-11-25 04:04] #162 closed

[2020-11-25 10:41] maedi commented on #163
Thanks, I kept working on the tool and it's at a much better stage now than in that screencast!

[2020-11-25 13:20] MikeRogers0 opened #169 "Ruby on Rails & Service Workers (PWA)"
I've been messing about a little recently with Service Workers & Rails, the end result is you can have your app enter a "read-only" mode when the user goes offline (e.g. they lose network coverage). The cool thing, is it'll work without requiring converting to an SPA, so you can do when you're setup using Server Side Rendering (e.g. turbolinks + ERB templates).

The main gist of the talk will be u

[2020-11-25 23:27] pinzonjulian commented on #168
Thanks for the post @map7 ! I still have a ton of questions though 😂

[2020-11-27 20:50] jkotchoff opened #170 "Debugging & optimising Ruby performance"
Demonstration of how [Heroku Metrics](https://devcenter.heroku.com/articles/metrics), [Scout](https://elements.heroku.com/addons/scout), [New Relic](https://newrelic.com/) and [derailed_benchmarks](https://github.com/schneems/derailed_benchmarks) can be used to diagnose and resolve memory swapping caused by N+1 queries and why memory allocations should be front of mind. Maybe some Puma worker/thre

[2020-11-29 03:06] jkotchoff opened #171 "How to make money with Ruby"
Advice on how to break into the industry with paid rails work and then how to further your career financially. Startup versus corporate, salary versus doing your own thing, building a business and cash flow quadrants. Salary negotiation, employers in Melbourne, making yourself indispensable, and salary-band expectations. Some controversial ideas and some thoughts on how to achieve FIRE - Financial

[2020-12-02 03:26] colquhounking commented on #169
Hey Mike! We'd still be online for the January meet, would that suit you? We've been finding that 20-30 minute talks or 5min lightning talks have been working well with the online format. Do you have a sense of how long the talk would be?

[2020-12-02 09:29] MikeRogers0 commented on #169
@colquhounking January would be awesome!

Right now my talk is ~10 minutes I think. I'll get working on my slides over this month & get a better estimate for you 👍

[2021-01-07 03:54] ceels commented on #169
Hi @MikeRogers0 , looking forward to this talk in January!

[2021-01-07 03:58] ceels commented on #170
Hi @jkotchoff Would you be interested in presenting a talk at the January RORO? We'll still be online. We've been finding that 20-30 minute talks or 5min lightning talks have been working well with the online format.

[2021-01-07 04:57] jkotchoff commented on #170
Hey @ceels, sounds good. I'd probably be interested in the longer form talk.

[2021-01-07 17:49] MikeRogers0 commented on #169
@ceels I'm excited to give it!

I'm working on my slides this weekend, I ended up writing a blog posts ( https://mikerogers.io/2020/12/14/how-to-make-rails-work-offline-via-service-workers ) & done a quick YouTube tutorial on it also, so I'm feeling great about it :D

[2021-01-20 08:05] ceels commented on #170
Great! Looking forward to it. Do you have a preference for which talk to present?

[2021-01-20 22:49] jkotchoff commented on #170
I'd like to do this performance talk first if that's ok.

[2021-01-23 19:35] MikeRogers0 commented on #169
https://talks.mikerogers.io/taking-rails-offline/?view=presenter - I'm feeling pretty awesome about the talk now @ceels :) I think it'll be about 15-20 minutes or so (Depending on if we have questions & if anyone wants to see my demo apps) :D

[2021-01-24 22:57] ceels commented on #169
Looking forward to it!

[2021-01-25 08:41] georgekettle commented on #171
I think this would be a great topic for ruby melbourne

[2021-01-26 22:06] VanessaNimmo commented on #166
https://youtu.be/OFym5QlfalU 🥳

[2021-01-26 22:06] #166 closed

[2021-01-26 22:11] VanessaNimmo commented on #167
https://youtu.be/GnLMSTG8v08 🍾

[2021-01-26 22:11] #167 closed

[2021-01-26 22:29] VanessaNimmo commented on #141
https://youtu.be/l5o9gq50ZcE 🌴

[2021-01-26 22:29] #141 closed

[2021-01-29 22:54] #170 closed

[2021-02-22 22:47] saramic opened #172 "View Components in the Wild"
Just some examples of how we at [Fresho](http://fresho.com) are using [View Components](https://viewcomponent.org/) to test rails views and help us decompose the front end, it will be wild! With the better design through composability, leading to simplifying testing and more consistent front ends.

inspired by https://github.com/rails-oceania/melbourne-ruby/issues/158

presented from https://githu

[2021-03-23 23:08] danascheider opened #173 "The Joy of Docs: Technical Writing for Developers and Engineers"
Hello organisers! I would like to propose a talk about technical writing. You can see the slide deck [here](https://docs.google.com/presentation/d/1somOY_01ZRgSxuAIX-RenImp9QkgytjpXwsKm91lYoo/edit?usp=sharing) if you'd like to suss it out more, but here's the gist. I can be available any Wednesday but need at least a few days' advance notice to let my D&D group know I won't be there :)

## Talk Ti

[2021-03-24 08:21] achhetr opened #174 "Exercism for Junior Developers"
Hi guys, I recently completed a bootcamp from Le Wagon.

I have experienced that most bootcamp graduate lack the understanding of test driven development as well as how to conduct pair programming coding challenge. I would like to present 2 exercism exercise to showcase how to approach a problem.

I am also participating in the presentation to build confidence around technical gurus.

[2021-03-24 22:30] CumulusGround commented on #173
Hi Danna,
Thank you for proposing this talk!

It sounds like a great talk and it's definitely already right at home with me :) :S

How long do you thing your talk would take?
The next RORO is next wednesday the 31st of March.

Would you be keen/ready to present then?

Cheers

[2021-03-25 03:00] danascheider commented on #173
The 31st works! The last time I gave this talk it ran about 30 minutes but I can make it longer or shorter to suit. Just let me know!

[2021-03-28 05:31] CumulusGround commented on #173
awesome, 31st it is then.
We'll be in touch with you shortly

[2021-03-28 10:07] VanessaNimmo commented on #172
https://youtu.be/ISWuPcCoChw 🌄

[2021-03-28 10:07] #172 closed

[2021-03-28 10:25] VanessaNimmo commented on #170
https://youtu.be/-o-HAQVDvJo

[2021-03-28 10:36] VanessaNimmo commented on #169
https://youtu.be/FjNDrPDjm4o ❄️

[2021-03-28 10:36] #169 closed

[2021-03-28 13:27] MikeRogers0 commented on #169
Woo awesome, thank you!

[2021-04-14 00:19] CumulusGround commented on #173
https://youtu.be/l8pFr1y14f8

[2021-04-14 00:19] #173 closed

[2021-04-19 11:28] CumulusGround commented on #174
Hey @achhetr, Thank you for reaching and well done for putting yourself out there!!
Would you be keen to Present at the April RORO on the 28th (next week)?
 How long would your talk be?

 Thank you

[2021-04-20 02:29] achhetr commented on #174
Thank you @CumulusGround for giving me this opportunity. I am planning to give 15 to 20 mins talk.
I have two ideas which I am happy to share with young developers.
1) 2 exercism exercise to showcase how to approach a problem
2) How to integrate React with Rails

Please suggest which one should I go as I think they both are really important

[2021-04-20 08:36] CumulusGround commented on #174
Hey @achhetr,

they do both sound great!!
but obviously I'm mindful of having a couple of speakers on the night.

How about this:
We can do React/Ruby this time
then skip next month
then have you back in June for the exersim one.

My thought behind it is that I think a lot of bootcamp just started in March and should wrap up in June, which theoretically would give us an influx of junior, perfect t

[2021-04-20 08:42] achhetr commented on #174
Sounds great @CumulusGround

This will be my first presentation, have you got any tips which I can offer to the audience from React on Rails perspective

[2021-06-07 02:19] davich opened #175 "Lightning talk: How to stop I18n getting complex"
10 minutes.
In Rails, I18n gets confusing :( I'm always trying to figure out where keys come from and what text methods return.

My team and I have done some cool stuff to keep it simple. I've never seen it done like this before, so I'd like to share it.

[2021-06-07 10:22] CumulusGround commented on #175
Hey @davich,

That sounds great.
Would you be willing to share at this month's RORO (30th June)?

Let me know

[2021-06-10 22:47] davidcarlin-ap commented on #175
Yep, can do. Will it be in person or zoom?

[2021-06-11 08:13] davich commented on #175
ha, that's also me ^^. On my work github account. Probably confusing to the casual observer.

[2021-06-15 21:38] CumulusGround commented on #175
haha no problem @davich / @davidcarlin-ap.
do you have a title for your talk?

[2021-06-20 11:40] davich commented on #175
yep, that's a descriptive title. Will the meetup be in person or zoom?

[2021-06-27 23:02] CumulusGround commented on #175
Meetup will be over Zoom @davich
:)

[2021-06-30 20:04] saramic opened #176 "Data pipelines in Rails and Postgres"
the nuts and bolts of how to insert and upsert data quickly in Rails and Postgresql using both the gem `activerecord-import` and Rails 6 new `insert_all` and `upsert_all` command. Also some thoughts on how to do data processing in Ruby using the chaining `then` to compose data transformations.

follow my progress on the talk here -> https://github.com/failure-driven/data-pipelines-in-ruby

should

[2021-07-05 11:24] #174 closed

[2021-07-05 11:24] #175 closed

[2021-07-05 11:25] CumulusGround commented on #171
@jkotchoff hey there,
thank you for submitting a talk.
Would you like to present at the next RORO melbourne on the 28th?
Cheers,

[2021-07-05 11:27] CumulusGround commented on #176
Awesome @saramic, looking forward to hear about it.
I guess I'll ask you later on long you think this one will be  :)

[2021-07-05 11:32] jkotchoff commented on #171
Hey @CumulusGround, I'll be interstate on July 28th and I'd also like to present this talk at an in-person meetup as opposed to a remote one if that's at all possible? Keen to do it though!

[2021-07-07 08:18] CumulusGround commented on #171
sure I'll keep you in the loop for in-person. cheers

[2021-07-07 19:57] gerrywastaken commented on #171
@jkotchoff Will it be recorded? Sounds like a very intersting topic.

[2021-07-08 01:13] ponny commented on #171
Super keen!

[2021-07-08 04:20] CumulusGround commented on #171
@gerrywastaken It definitely will be.
Also I'll be looking at streaming it live on the day ;)

[2021-07-25 22:23] CumulusGround commented on #176
Hey @saramic,
Confirming you are all still good to present at this wednesday RORO ?
:)
See you then

[2021-07-25 22:41] saramic commented on #176
yeah all good - probably be ~30min but will try to cut it shorter if I can

[2021-07-25 22:51] CumulusGround commented on #176
no stress.
I'm still looking for a lighting talk contender !

[2021-08-23 04:01] #176 closed

[2021-08-23 05:20] jkotchoff commented on #171
I'll be performing this talk remotely for roro-melbourne on Wednesday August 25th:
https://www.meetup.com/Ruby-On-Rails-Oceania-Melbourne/events/zbvthsycclbhc/

[2021-09-02 02:52] ponny commented on #171
Wanted to send this to someone.  Is it uploaded somewhere?  I checked the YouTube channel and didn't see it.

[2021-09-04 07:20] jkotchoff commented on #171
Thanks for publishing @optimistic-updt 🚀

@ponny, the video is published here:
https://www.youtube.com/watch?v=iWtecg-eQxI

Bookmarks to sections of the talk
----------------------------------
[0:00 Intro](https://www.youtube.com/watch?v=iWtecg-eQxI&t=0s)
[1:44 Ruby salary bands in 2021](https://www.youtube.com/watch?v=iWtecg-eQxI&t=104s)
[4:12 FIRE](https://www.youtube.com/watch?v=iWtecg-eQxI&t=2

[2021-09-04 07:20] #171 closed

[2021-09-25 04:13] saramic opened #177 "stop rubocop fix-up commits - like ever!"
- We all love rubocop ❤️ - _to keep consistent ruby styling_
    - Like Nick Wolf told us back in https://www.youtube.com/watch?v=PkZTlvLmpvw
- but breaking the build for a missing comma costs companies millions 💵
- why not be the developer who builds tools for other developers and prevents this from 📣 "ever happening again! like ever!"

In this 5-minute lightning talk, I will show you how to safe

[2021-09-27 11:26] optimistic-updt opened #178 "Stripe integration"
Akash Chhetri

[2021-09-27 11:27] optimistic-updt opened #179 "Rails Active Model"
Julian Pizon

[2021-09-27 11:32] optimistic-updt opened #180 "==> Open Discussion Topics <=="
At times, instead of watching a talk, we like to discuss ideas in an open conversation format.
If you would love to debate a subject or hear more from the crowd about a certain topic, add it by leaving a comment below.

Topic discussion to talk in a open forum style at the RORO melboune

[2021-09-30 23:45] #177 closed

[2021-09-30 23:45] #178 closed

[2021-09-30 23:45] #179 closed

[2021-10-11 04:41] tomdalling opened #181 "Talk proposal: nailing your live coding job interview in Ruby"
Live coding over Zoom has become a popular way to do technical interviews with job candidates these days. This talk would cover how I would handle this kind of interview, with tips and suggestions.

I'm happy to give this talk at the next RoRo (27 Oct, 2021) if that's convenient.

[2021-10-24 22:29] optimistic-updt opened #182 "Lighting talk on RUBY AGM"
By Nick Wolf

[2021-10-24 22:36] optimistic-updt opened #183 "=> Talk Proposal: <my-talk-template> Template"
Description(this will appear on youtube):

Estimated Talk Time:

Prefered Month to Present:

Preferred Social media handles:

Mugshot (will be use in the slides):

[2021-10-24 22:38] optimistic-updt opened #184 "=> Interview (coming soon)"

[2021-11-02 03:18] #181 closed

[2021-11-02 03:18] #182 closed

[2021-11-13 09:22] davidcarlin-ap opened #185 "Talk proposal: Image compression. How it works, why you need it"
It seems to be unclear who should be the expert on image compression. Engineers or designers? We all want fast sites and most of a site's download is in images, so this is fertile ground for optimisation.

I'd like to dig into different image formats and what they're good for. A bit of a deep dive into how some of the formats work (DCT, chroma-subsampling etc). And the future of images on the web.

[2021-11-22 23:10] optimistic-updt commented on #185
I'll pencil you in for Jan

[2021-11-22 23:12] optimistic-updt opened #186 "Talk Proposal: Becoming an Engineering Manager - Nadia Vu"

[2021-11-22 23:21] saramic opened #187 "writing that first rails test"
so you have done a boot camp or have created a rails project that you want to take it to the next level. Everyone is telling you that testing is a good thing but how and where do you get started?

in this intro to testing, I will take you through the following steps

1. add rspec/capybara for testing
2. write an "End to End" (E2E) "user flow" through your app, retrospectively
3. split the flow int

[2021-11-23 00:07] optimistic-updt commented on #186
@nadiavu

[2021-11-24 05:27] saramic commented on #187
follow along at https://github.com/saramic/rails-shorts-demo

[2021-12-14 08:03] optimistic-updt commented on #180
How to nurture your career as a Ruby Developer

[2021-12-14 22:22] #187 closed

[2021-12-14 22:24] optimistic-updt opened #188 "Talk Proposal: Github Copilot by Ceels (TBD)"
@ceels
(no pressure, just writing it here for my notes :))

[2022-02-20 23:36] #185 closed

[2022-04-22 14:03] #188 closed

[2022-10-24 20:22] saramic opened #190 "Experiments in Sidekiq - dual writes, transaction outbox, maybe sagas and loading bars"
Sometimes the best way to understand something, is to build a demo. This is a presentation on a number of demos around Sidekiq and background jobs as well as a sort of methodology I use to make my demo projects somewhat repeatable.

A look at
* sidekiq
* "Dual Write" problem
* Outbox pattern
* Saga pattern - if we have time

basically https://github.com/failure-driven/experimental-methods-in-sidek

[2022-10-26 10:27] daveallie opened #191 "Talk Proposal: Black hat Ruby - Creating a malicious Ruby Gem"
Ruby gives us a lot of sharp knives, but what if someone was to use them not for good, but for evil?
This talk will be an exploration into what malicious Ruby gems can do and how bad actors disguise themselves by looking at some examples and creating one live.

Duration: no idea 😂 I can check back in closer to the meetup date with how deep I'll be going

---

**Disclaimer: Please do not intentiona

[2022-10-28 03:29] #190 closed

[2022-11-01 00:17] friendlyantz opened #192 "Awesome GitHub Landing Page"
Proposing a lightning talk for RORO Melbourne!

- Titile(WIP): Awesome GitHub Profile / Landing Page
- About: how to make your main gitHub profile page look fantastic 🚂 , and perhaps touch on elementary bits of TDD and static website framework used on GitHub(Jekyll)
- Timing: Nov-2022
- Are you happy to have your talk published on the RubyAU YouTube channel? -> `yes`
- Your Twitter username (if yo

[2022-11-01 00:21] friendlyantz commented on #192
also, might copy-paste a template for creating new issues from Sydney RoRO

[2022-11-01 08:36] igas opened #193 "Talk Proposal: Testing in Production: there is a better way"
A journey on how to do refactoring in mission-critical production code with confidence.

[2022-11-15 05:04] mpalmer opened #194 "Talk Proposal: Data Encryption in Rails: Why Isn't Everyone Doing It?"
As a number of recent high profile breaches have demonstrated, a lot of our deeply personal information is regularly getting compromised.  Encrypting data is an extremely effective way of protecting that data, but it's still not a universal practice.  It's easy to assume that it's just overworked developers or myopic management, but there are some real challenges to encrypting data that doom many

[2022-11-18 06:20] optimistic-updt commented on #193
Hey legend,
How long do you reckon this talk would be?
Would upu be good to give it on tuesday the 29th instead of the 30th of November?

[2022-11-18 06:22] optimistic-updt commented on #191
Heya Dave,

How long do you reckon your talk would be?
Sounds like a 20-30 min talk to me? Minimum.

I know you were worried about the clash with react meetup.
Would you be possibly able to do it on the 29th instead?

It looks like roro is going to have to move due to room availability

[2022-11-18 06:23] optimistic-updt commented on #192
Heya,
Still keen?
Do you think you can do it on the 29th instead of 30th?
It looks like this month roro is going to have to he on the tuesday

[2022-11-18 06:26] optimistic-updt commented on #194
This sounds amazing.
Let me see what i can do with current propose talks.
Definitely want to allow the full 45min.
Are you tentatively available 29th of November?
Roro might fall on that day this month due to room availability

[2022-11-19 01:35] daveallie commented on #191
Yeah, 30 minutes would be good. Either the 29th or 30th are both fine, if the clash happens I'll attend RORO

[2022-11-19 09:53] friendlyantz commented on #192
Absolutely!

[2022-11-21 03:15] igas commented on #193
Hey, 40-45 minutes I think. 29th works for me 👍🏼

[2022-11-21 03:56] mpalmer commented on #194
I can do the 29th.

[2022-11-24 22:54] optimistic-updt commented on #192
Anton, I'm going to save you for next year.
First in Jan 25th.
Can you do that?
I would like to finish the year with two big talks
let me know if ok

[2022-11-24 22:55] optimistic-updt commented on #191
Dave,
I'm going to save you for next year, ok?
Jan 25th.

ok for you?

[2022-11-24 22:57] optimistic-updt commented on #194
We are on Matt.

Get it ready for next Tuesday :) Let's finish the year big :)

[2022-11-24 22:57] optimistic-updt commented on #193
Let's DO IT.
You re on for next Tuesday 👍🏻

[2022-11-24 23:10] daveallie commented on #191
I'll be up in Brisbane on the 25th of Jan, but will back back down for Feb!

[2022-11-24 23:45] mpalmer commented on #194
Roger dodger.  Slide manufacturing is now commencing.

[2022-11-27 10:27] igas commented on #193
@optimistic-updt 👍🏼  I updated the title 🙏🏼

[2022-11-28 09:25] optimistic-updt commented on #194
hey @mpalmer,
Are you all good for tomorrow?

Venue is at the dock, are you across that?
Come at 5.50 if you want to test your setup

I need a mugshot from you for my slides

You'll prob go second,
Are you on the Ruby slack? if so under waht name.

Do you have a twitter handle?

[2022-11-28 09:48] optimistic-updt commented on #193
@igas
Are you still G for tomorrow?

Do you have a mugshot I can use?

Cheers

[2022-11-28 10:12] friendlyantz commented on #192
Yeah, that's no worries at all!

[2022-11-28 22:35] mpalmer commented on #194
I am ready to rawk for tonight.  I'm aware of the venue change, and will be there early to test my setup.  Will my GitHub profile pic work, or do you need something higher res?  I'm not on the Ruby slack, but my Twitter handle is @tobermatt.

[2022-11-29 00:10] optimistic-updt commented on #194
I can roll with that ;)
see you tonight